@charset "utf-8";
/* CSS Document */
* { margin: 0; padding: 0; border: 0; } 
 body
{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.3);
}
.contentArea
{
	width:100%;
	height:100%;
	text-align:center;
	margin:0 auto;
	
}
.img2
{
	 margin:0 auto;
	 position:relative;
	 max-width:100%;
	 
}
.img2 img
{
	  width:82.45%;
	  margin-top:10%;
} 
.zoomTemplate
{
	float: right;
	width: 34%;
	position: relative; 
	top: -128px;
	right: 0px;
	left: -120px;
	bottom: 40px;
}
 .zoomTemplateSection1
{
	background-color: #FFF;
	float: left;
	padding: 35px;
	margin-right: 89px;
}
.zoomTemplateSection2
{
    width: 89px;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #444444;
	display: block;
	float: right;
	padding: 58px 0px;
} 
.p1
{
	font-family: 'MyriadProLight';
	font-size: 30px;
	color: #444444;
	text-align: left;
	line-height: 20px;
}
.p2
{
	font-family: 'MyriadProSemibold';
	font-size: 16px;
	color: #444444;
	line-height: 31px;
	text-align: left;
}
.p3
{
	font-family: 'MyriadProRegular';
	font-size: 16px;
	text-align: left;
	color: #666666;
	line-height: 21px;
}
.zoomTemplateSection2 a
{
	width: 89px;
	text-decoration: none;
	font-family: 'MyriadProRegular';
	font-size: 16px;
	color: #ffffff;
	display: block;
}
.img3
{
	padding-bottom:10px;
}