/* Scss Document */
$font-size:16px;
$color:#000;
$font-family:'RobotoRegular';

/*Header*/
$main_nav_font:'Action_Man';
$main_nav_font_size:25px;
$nav_anchor_color:#fff;

/*Why Champs*/
$whychamps-bgcolor:#fbc93d;


body {
	font-size: $font-size;
	color: $color;
	font-family: $font-family;
	line-height: 24px;
}
/*Start Index Page*/
#wrapper {
	width: 100%;
}
.container {
	width: 1366px;
	margin: 0 auto;
	overflow: hidden;
}
.home {
	overflow: hidden;
	height: 770px; 
}
header{
	overflow: hidden;
	background: url(../img/header_bg.png) no-repeat center 0px;
	padding: 0 5px;
}
.logo {
	float: left;
}
.main-nav {	
	overflow: hidden;
	float: right;
		
	ul {
		overflow: hidden;
		float: left;
		
		li {
			float: left;
			font-family: $main_nav_font;
			font-size: $main_nav_font_size;
		}	
		a {
			display: block;
			color: $nav_anchor_color;
			padding: 31px 35px 36px;
			background: url(../img/main_nav_li_bg.png) no-repeat center 68px;
		}
	}
	.more {
		overflow: hidden;
		float: left;
	}
}
.banner {
	position: absolute;
	top: 0px; 
	z-index: -1;
}


.left-cloud {
	position: absolute;
	top: 1150px;
	z-index: 1;
}
.right-cloud {
	@extend.left-cloud;
	right: 0;
	top: 1200px;
}
/*Why Champs*/
.why-champs {
	overflow: hidden; 
	width: 100%;
	background: $whychamps-bgcolor;
	color: #3b3116;
	padding: 50px 0 0;
	position: relative;
	
	h1 {
		text-align: center; 
	}
	p {
		text-align: center;
		width: 900px;
		margin: 38px auto 70px;
	}
	
}

.whychamps-accordian {
	overflow: hidden;
	padding:0 0 0 330px;
	background: url(../img/index_why_aerochar.png) no-repeat 0px 70px;
	overflow:hidden;
}
.panelContent {
	padding: 35px;
	/*height:340px;
	width:400px;*/
	text-align: center;
	h1 {
		font-size: 26px;
		margin: 0 0 20px;
	}
	
}
.green {
	width:50px;
	height:340px;
	float:left;
	background: url(../img/index_why_acc1.png);
	border-right:5px solid #fbc93d;
	cursor:pointer;

	
	span {
		display: block;
		height: 200px;	
		text-align: center;
		width: 340px;
		text-align: center;
		color: #fff;
		-webkit-transform: translateX(-100%) rotate(-90deg) translateZ(0px);
		-moz-transform: translateX(-100%) rotate(-90deg) translateZ(0px);
		-ms-transform: translateX(-100%) rotate(-90deg) translateZ(0px);
		-o-transform: translateX(-100%) rotate(-90deg) translateZ(0px);
		transform: translateX(-100%) rotate(-90deg) translateZ(0px);
		-webkit-transform-origin: right top 0;
		-moz-transform-origin: right top 0;
		-ms-transform-origin: right top 0;
		-o-transform-origin: right top 0;
		transform-origin: right top 0;
	}

}
.white {
	@extend.green;
	background: #fff;
	
	span {
		color: #000;
	}
}
.blue {
	@extend.green;
	background: url(../img/index_why_acc2.png);
}
.red {
	@extend.green;
	background: url(../img/index_why_acc4.png);
}

.last {
	border:none
}


.video {
	margin: 157px 0px 0 0;
	padding: 5px 0 165px 20px;
	overflow: hidden;
	background: url(../img/index_why_video.png) no-repeat 0px 0px;
}

/*acadamic-program*/
.acadamic-program {
	background: #8dc8f4;
	padding: 50px 0 45px;
	position: relative;
	
	h1 {
		text-align: center;
	}
}
.contain-program {
	overflow: hidden;
	float: right;
	margin: 70px 20px 0px 0;
}
.programs {
	overflow: hidden;
	
	.pro-preschool {
		overflow: hidden;
		width: 306px;
		float: left;
		margin:0 0 0 35px;
		h1{
			text-align: center;
			text-transform: capitalize;
			font-size: 24px;
			color: #454545;
			margin: 50px 0 25px;
			font-family: 'RobotoRegular';
		}
		p {
			text-align: center;
			color: #7e7e7e;
			font-size: 14px;
			a {
				display: table;
				vertical-align: middle;
				text-transform: capitalize;
				color: #2a79be;
				width: 68px;
				padding: 4px 0;
				margin: 30px auto 60px;
				border: 1px solid #2a79be; 
				&:hover{
					background: #2a79be;
					color: #fff;
				}
			}
		}
	}
	.pro-afterschool {
		@extend.pro-preschool;
	}
	.pro-tution {
		@extend.pro-preschool;
	}
}
.btn-viewall {
	overflow: hidden;
	float: right;
	
	a {
		display: block;
		background: url(../img/btn_view.png) no-repeat 0px;
		text-indent: -9999px;
		width: 364px;
		height: 54px;
	}
}

/*Activity programs*/
.activity-programes {
	@extend.acadamic-program;
	background: #d8efe9;
	color: #fff;
}
.contain-activity {
	@extend.contain-program;
}
.activity {
	overflow: hidden;
	margin: 0 0 80px;
	
	.activity-karate {
		overflow: hidden;
		float: left;
		width: 170px; 
		padding: 54px 19px 18px;
		margin: 0 0 0 63px;
		background: url(../img/index_karate_bg.png) no-repeat 0px 0px;
		border-radius: 5px;
		
		p {
			text-align: center;
			margin: 0px 0 13px;
		}
		a {
			text-transform: capitalize;
			display: block;
			width: 80px;
			margin: 0 auto;
			padding: 6px 7px 8px;
			color: #fff;
			background: #357605;
			transition: all 0.8s linear; 
			&:hover {
				background: #fff;
				color: #73a60b;
			}
		}
		
	}
	.activity-kungfu {
		@extend.activity-karate;
		background: url(../img/index_kungfu_bg.png) no-repeat 0px 0px;
		
		a {
			background: #24449d;
			&:hover {
				background: #fff;
				color: #2a7abf;
			}
		}
	}
	.activity-chess {
		@extend.activity-karate;
		background: url(../img/index_chess_bg.png) no-repeat 0px 0px;
		
		a {
			background: #f09309;
			&:hover {
				background: #fff;
				color: #f5b913;
			}
		}
	}
	.activity-dance {
		@extend.activity-karate;
		background: url(../img/index_dance_bg.png) no-repeat 0px 0px;
		
		a {
			background: #ab2865;
			&:hover {
				background: #fff;
				color: #ce5d92;
			}
		}
	}
}
.testimonials {
	@extend.acadamic-program;
	background: #9ad563;
	color: #454545;
}
.testimonials-tell1 {
	overflow: hidden;
	margin: 0px 0 50px 0px;
	width: 1140px;
	
	figure {
		float: left;
	}
	article {
		overflow: hidden;
	}
	div {
		overflow: hidden;
		padding: 30px 0 0 27px;
		
		h4 {
			color: #2d7cc0;
			margin: 20px 0 0;
		}
	}
}

.gallery {
	@extend.acadamic-program;
	background: #ff7e37;
	
	h1 {
		margin: 0 0 45px 0;
	}
}

.contact {
	@extend.acadamic-program;
	background: #fff;
	color: #454545;
	padding: 50px 0 0;
	
	h1{
		margin: 0 0 50px;
	}	
	.address {
		overflow: hidden;
		float: left;
		margin: 0 0 0 300px;
		
		ul {
			background: url(../img/ico_locate.png) no-repeat 0px 5px;
			padding: 0 0 0 40px;
		}
		p {
			@extend ul;
			background: url(../img/ico_mail.png) no-repeat 0px 5px;
			margin: 30px 0 0;
			
			a {
				color: #454545;
			}
		}
	}
	.ico-social {
		overflow: hidden;
		float: right;
		margin: 0 275px 0 0;
		
		p {
			background: url(../img/ico_call.png) no-repeat 0px 7px;
			padding: 0 0 43px 40px;
			
			span {
				color: #2a79be;
			}
		}
		ul {
			overflow: hidden;
			padding: 0 0 0 40px;
			
			li {
				float: left;
				
				a {
					width: 61px;
					height: 60px;
					display: block;
					margin: 0 15px 0 0;
					background: url(../img/ico_social.png) no-repeat 0px 0px;
				}
				a.ico-fb {
					background-position: 0px 0px;
					&:hover {
						background-position: 0px bottom;
					}
				}
				a.ico-tweet {
					background-position: -61px 0px;
					&:hover {
						background-position: -61px bottom;
					}
				}
				a.ico-google {
					background-position: -122px 0px;
					&:hover {
						background-position: -122px bottom;
					}
				}
			}
		}
	}
}


/*Character*/
.char1 {
	position: absolute;
	top: 250px;
	left: 330px;
}
.char-skating {
	@extend.char1;
	z-index: 1;
	top: 400px;
	left: 140px;
}
.char3 {
	@extend.char1;
	top: 100px;
}
.char-karate {
	@extend.char1;
}
.char-gallery {
	@extend.char3;
}
.char-champion {
	@extend.char3;
}
/*End Index Page*

/*Font Face*/
@font-face {
    font-family: 'Action_Man';
    src: url('../fonts/action/Action_Man.eot');
    src: url('../fonts/action/Action_Man.eot') format('embedded-opentype'),
         url('../fonts/action/Action_Man.woff2') format('woff2'),
         url('../fonts/action/Action_Man.woff') format('woff'),
         url('../fonts/action/Action_Man.ttf') format('truetype'),
         url('../fonts/action/Action_Man.svg#Action_Man') format('svg');
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/RobotoRegular/RobotoRegular.eot');
    src: url('../fonts/RobotoRegular/RobotoRegular.eot') format('embedded-opentype'),
         url('../fonts/RobotoRegular/RobotoRegular.woff2') format('woff2'),
         url('../fonts/RobotoRegular/RobotoRegular.woff') format('woff'),
         url('../fonts/RobotoRegular/RobotoRegular.ttf') format('truetype'),
         url('../fonts/RobotoRegular/RobotoRegular.svg#RobotoRegular') format('svg');
}
