@charset "utf-8";
/* CSS Document */
body {
 
  width: 100%;
	height:100%;
	background-color:#e0b734; 
}
.container
{	
    width: 100%;
	height:100%;
	background-color:#e0b734;
	position:relative; 
}
.header
{
	width:100%;
	float:left;
	margin: 30px auto 0 auto;

}
.heading
{   
    //max-width:82.1875%;
	margin: 0 auto;	
	display:block;
	padding: 0 0 0 4px;
}
h1
{   
	color:#fff; 
	font-size:60px;
	padding-bottom:20px;
	font-family: 'MyriadProLight';
}
.menuBar
{
    color:#fff; 
	margin-top:50px;
	float:left;
	padding-bottom:20px;     
}
ul.navBar
{
   display:block;
   list-style:none;
   overflow:auto;
}
 .navBar li
{
	float:left;
	text-align:center;
	margin:1px 0 0 1px;
}
.navBar li a
{
    width:158px;
	height:39px;
	line-height:39px;
	text-decoration:none;
	background-color:#444444;
	color:#ffffff;
	text-align:center;
	font-size:12px;
	display:block;
	font-family: 'MyriadProRegular';
}
.navBar li a:hover
{
	background-color:#e7e7e7;
	color:#444444;
}
.content
{
	width:100%;
	float:left;
	margin: 0 auto;
}
.contentArea
{
	margin-top:20px; 
	float:left;
	width:100%;
	position:relative;
}

.portWarp {
	position:absolute;
	top:0; bottom:0; left:0; right:0;
	margin:auto;
	overflow:auto;
}

.templateContent
{
	overflow:auto;
	position:relative;
}
.project
{
	float:left;
	position:relative;
	margin:4px;
}


.mleft
{
	margin-left:10px;
}
.mtop
{
	margin-top:10px;
}

.templateHover
 {
	width:222px;
    height:195px;
	position:absolute;	
	float:left; 
	display:none;
	overflow:hidden;  /*for animtion*/
 }
.templateHover a
 {
	 text-decoration:none;
	  display:block; 
	text-align:center; 
	background-color:rgba(68,68,68,0.5);
	width:100%;
    height:100%;
	padding-top:14%;
    border:0px solid #FFF; /*for animtion*/
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
 }

.templateHover h2{
	font-size:16px;
	font-weight:100;
}

.templateHover h3{
	font-size:16px;
	font-weight:100;
}

.templateName
{
 	text-align:center;
	clear:both;
	background-color:#FFF;
	position:absolute;
	bottom:-40px; /*for anim*/
	width: 222px; /*212px;*/
	padding:10px 0;
}
h2
{
	font-family: 'MyriadProRegular';
	font-size:24px;
	color:#FFF;
	margin-top:10%;	
	text-align:center;
}
h3
{
	font-family: 'MyriadProRegular';
	font-size:18px;
	color:#444444;
	text-align:center;	
	margin-top:2%;
}
.arrowLeft
{	
	position:absolute;
	float:left;
	top:50%;
	left:64px;
	display:block;
	margin-top:-47px;
}
.arrowRight
{	
	position:absolute;
	float:right;
	top:50%;
	right:64px;
	display:block;
	margin-top:-47px;
}
.arrowLeft a
{
	float:left;
	width:48px;
	height:95px;
	text-decoration:none;
	background:url(../images/leftArrow.png) no-repeat center;
}
.arrowRight a
{
	float:right;
	width:48px;
	height:95px;
	text-decoration:none;
	background:url(../images/rightArrow.png) no-repeat center;
}
 
.footer
{
	clear:both;
	width:100%;
	margin:0 auto;
	padding:30px 0;
} 
ul.navigation
{
   list-style:none;
   margin: 0 auto;
   text-align:center;
   margin-bottom:50px;
 }
.navigation li
{
	display:inline-block;
	margin-left:10px;	
}
.navigation li a
{
    text-decoration:none;
	display:block;
	width:8px;
	height:8px;
	background-color:#282828;
}
.navigation li a.l1,.navigation li a:hover
{
	 background-color:#ffffff;	 
} 
.containerA {
	overflow:auto;
}

.containerB {
	display:none;
	
} 

.templates
{
	float:left;
	position:relative;
	
}
/*.templates .img1*/
.templates img
{
	max-height: 100%;
	display:block;
	transition: all .2s;   /*for .animScale*/
}

.templates a {
	height:195px;
	display:block;
	overflow:hidden;
	box-shadow: 0 0 4px rgba(0,0,0,0.3); 
}

.templates a img:hover {
	transform: scale(1.2);
}

#screens {
	margin:0 auto;
}


.animScale {
	transform: scale(1.2);
}

/*overlay*/

#overlay {
	position:fixed;
	top:0;bottom:0;left:0;right:0;
	margin:auto;
	background-color:rgba(20,20,20,0.9);
	display:none;
}
#forClose {
	position:fixed;
	top:0;bottom:0;left:0;right:0;
	margin:auto;
}
#bigImg {
	position:fixed;
	top:0;bottom:0;left:0;right:0;
	margin:auto;
	max-width:80%;
	max-height:80%;
}

#overlay .descriptionContainer
{
	float: right;
	width: 34%;
	position: relative; 
	top: 128px;
	right: 0px;
	left: -120px;
	bottom: 40px;
}
#overlay .description
{
	background-color: #FFF;
	float: left;
	padding: 35px;
	margin-right: 89px;
}
#overlay .descriptionLink
{
    width: 89px;
	position: absolute;
	/*bottom: 0;*/
	right: 0;
	background-color: #444444;
	display: block;
	/*height: 100%;*/
	float: right; 
} 
#overlay .p1
{
	font-family: 'MyriadProLight';
	font-size: 30px;
	color: #444444;
	text-align: left;
	line-height: 20px;
}
#overlay .p2
{
	font-family: 'MyriadProSemibold';
	font-size: 16px;
	color: #444444;
	line-height: 31px;
	text-align: left;
}
#overlay .p3
{
	font-family: 'MyriadProRegular';
	font-size: 16px;
	text-align: left;
	color: #666666;
	line-height: 21px;
}
#overlay .descriptionLink a
{
	position:a;
	top:0;bottom:0;left:0;right:0;
	margin:auto;
	
} 
#overlay .descriptionLink a p {
	width:89px;
	height:90px;
	display:block; 
	text-decoration: none;
	font-family: 'MyriadProRegular';
	font-size: 16px;
	color: #ffffff;	 
	background:url(../images/externalArrow.png) no-repeat 45% 40%;
	margin-left: auto;
    margin-right: auto;
	margin: 0;
	position: absolute;               
	top: 50%;                       
	transform: translate(0, -50%);
	line-height: 150px;
	text-align: center;
}