/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}


/*Edited*/

ul.bjqs-controls.v-centered li.bjqs-next a {
	right:-130px;
	background:url(../images/rightArrow.png) -48px 0 no-repeat;
	width:95px;
	height:95px;
	display:block;
	text-indent:-9999px;
	transition:background-position .2s;
}
ul.bjqs-controls.v-centered li.bjqs-next a:hover {
	background:url(../images/rightArrow.png) 0 0 no-repeat;
}

ul.bjqs-controls.v-centered li.bjqs-prev a {
	left:-130px;
	background:url(../images/leftArrow.png) 50px 0 no-repeat;
	width:99px;
	height:95px;
	display:block;
	text-indent:-9999px;
	transition:background-position .2s;
}
ul.bjqs-controls.v-centered li.bjqs-prev a:hover {
	background:url(../images/leftArrow.png) 0px 0 no-repeat;
}

ol.bjqs-markers li a{
	display:inline-block;
	width: 8px;
	height: 8px;
	text-indent: -9999px;
	background-color: #444444;
	margin: 8px;
}

ol.bjqs-markers li a:hover{
	background-color: #fff;
}

ol.bjqs-markers li.active-marker a, ol.bjqs-markers li a:hover {
	background-color: #fff;
}