@charset "utf-8";
/* CSS Document */
#services
{
   width:100%; 
   height:auto;   
   margin:0 auto;
   overflow:auto;
   background-color:#446fa4;
   
} 
.header
{
	float: left;
	width: 100%;
	padding-top:20px;
	padding-bottom:20px;
}
#services .content
{
      float: left;
		width: 80%;
		margin: 0% 10%;
}
.servicesList
{
   float: left;
		padding-top: 0px;
		width: 50%;
}
.packageSlider
{
    float: right;
	margin-top: 70px;
	margin-left: 0%;
	width: 300px;
}


ul.navBarLeft
{
	 list-style: none;
float: left;
width: 100%; 
 
}
ul.navBarRight
{
	 list-style: none;
float: left;
padding-left: 0%;
width: 100%
 
}
ul.navBarLeft li, ul.navBarRight li
{
	display:block;
	text-align:left;
	font-size:18px;
	text-decoration:none;
	color:#FFF;	 
	font-family:"calibri"; 
	padding-left:22px;
	padding-top:16px;	
	background:url(../images/arrowSmall.png) 0 21px no-repeat;
} 

.package
{
     
	 float: left;
	 width:300px;
	 height:200px;
}
.package img
{
	 float:left;
	 width:100px;
	 height:100px;
	 
} 
ul.slideNav
{
    
   list-style: none;
	margin-left: 40%;
	margin-top:15px;
	float: left;
 }
.slideNav li
{
	 display:inline-block; 
}
.slideNav li a
{
    text-decoration: none;
	text-align:center;
	display: block;
	width: 7px;
	height: 7px; 
	margin-left: 9px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: #bfbebe;
}
.slideNav li a.l2,.slideNav li a:hover
{
	 background-color:#1e1e1e;	 
} 
#services .footer
{
   
	float: left;
	width: 90%;
	margin: 0% 5% 10% 5%;
}
.servicesImage
{
	 
	width:108px;
	height:108px;
	padding-top:20px;
}
.quatru
{
  margin:0 auto;
} 
.heading2
{   
	color:#fff;
	text-align:center;
	font-size:34px;
	margin-top:50px;
	padding:0px;
	font-family: 'MyriadProLight';
}
ul.footerNavBar
{
	list-style:none;
	text-align:center;
}
.footerNavBar li
{
	display:inline-block;
	text-align:center;
	padding:0px 0px;	 
}
.footerNavBar li:nth-child(1)
{
	padding-left:0px;
}
.footerNavBar p
{
	 font-size:12px;
	 text-decoration:none;
	 color:#FFF;
	 padding-top:10px;
	 font-family: 'MyriadProRegular';
}
.footerNavBar p:hover
{
	 color:#000; 
}
.rightArrow1, .rightArrow2, .rightArrow3, .rightArrow4, .rightArrow5
{
	vertical-align:top;
	margin-top:30px;
}
.rightArrow1
{
	opacity:0.3;
}
.rightArrow2
{
    opacity:0.4;
}
.rightArrow3
{
	opacity:0.6;
}
.rightArrow4
{ 
   opacity:0.8;
}
.serviceQuality
 {
	 width:108px;
	 height:155px;
 }

