@charset "utf-8";
/* CSS Document */

body {
	height: 100%;
	font-size: 13px;
	/*line-height: 19px;*/
	font-family: 'OpenSansRegular';
}
#wrapper {
	width: 100%;
}
.container {
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
}
header {
	overflow: hidden;
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 1;
	background: url(../img/bg_header.gif) repeat-x 0 0;
}
.header {
	width: 1366px;
	margin: 0 auto;
}
.logo {
	overflow: hidden;
	float: left;
	margin: 18px 0 0 115px;
}
/*Menu navigation*/
nav {
	overflow: hidden;
	margin: 0 106px 0 0;
}
nav ul {
	overflow: hidden;
	float: right;
	font-family: 'rockwellstd';
	font-size: 18px;
}
nav ul li {
	overflow: hidden;
	float: left;
	background: url(../img/bg_menu.png) no-repeat center top;
}
.li_sep {
	margin: 0px 0 0;
}
nav ul li a {
	display: block;
	margin: 0 auto;
	height: 80px;
	color: #222;
	text-transform: capitalize;
	text-align: center;
}
nav ul li a span {
	font-family: 'RockwellStdLight';
}
nav ul li a b {
	font-size: 9px;
	font-family: 'OpenSansRegular';
	display: block;
	margin: -2px 0 0;
	text-transform: uppercase;
}
.trn_home, .my_shots, .who_am, .my_studio, .my_clients, .reach_us {
	width: 135px;
	height: 80px;
}
.trn_home {
	width: 120px;
}
.my_shots {
	width: 120px;
	position: relative;
	/*line-height: 13px;*/
	text-align: center;
}
.menu_shots, .active_shots, .hover_shots, .explore_shots, .explore_home, .rays {
	position: absolute;
}
.menu_shots {
	top: 36px;
	margin: 0 0 0 20px;
}
.active_shots {
	top: 7px;
	margin: 0 0 0 -8px;
}
.hover_shots, .hover_reach {
	top: 22px;
	margin: 0 0 0 10px;
}
.explore_shots {
	top: 27px;
	margin: 0 0 0 25px;
}
.explore_home {
	top: 27px;
	margin: 0 0 0 20px;
}
.rays {
	top: -35px;
	margin: 0 0 0 -15px;
}
.who_am {
	width: 120px;
}
.my_studio {
	width: 120px;
}
.my_clients {
	width: 127px;
}
.reach_us {
	width: 115px;
}
/*Active Nav*/
.hover_shots, .hover_reach {
 top: 22px;
 margin: 0 0 0 10px;
 overflow: hidden;
 width: 108px;
 height: 50px;
 text-align: left;
}
.hover_reach {
	width: 110px;
	margin: 0 0 0 8px;
}

.hover_shots img, .hover_reach img {
 top:0;
 transition:top .5s;
 position:absolute;
}
.dNone {
 opacity:0;
 transition:all .2s;
}
.active_nav {
	opacity: 1;
}
.active_mainbg, .active_letters, .active_rays {
	opacity: 1;
}
.active_shutter {
	//opacity: 1;
	//top: -20px;
}
/*End---Menu navigation*/





/**/
.home, .home_cont, .home_top, .home_bottom, .home_banner, .shot, .shot_banner, .shot_cont, .shot_top, .shot_bottom, .shot_gallery_banner, .shot_gallery_cont, .shot_gallery_top, .shot_gallery_bottom, .whoam_banner, .whoam_content, .whoam_top, .whoam_bottom, .whoam, .studio, .studio_banner, .studio_cont, .studio_top, .studio_bottom, .client_content, .client_top, .client_bottom, .myclients, .reachUs_banner, .reach_cont, .reach_top, .reach_bottom, .reachUs {
	/* height:100vh;*/
	overflow: hidden; /* Fix for parallax */
}
.home, .Shot, .whoam, .studio, .myclients, .reachUs {
	position: relative;
}
.home_about, .img_light_l, .img_light_r, .img_photos, .hover_myShots, .img_phone, .hover_reachus, .img_instrument, .img_stool, .hover_myclients, .img_stand, .hover_whoam, .img_clock, .img_door, .door_home, .img_bgDoor, .img_doorInner, .img_fashion, .img_interiors, .img_adv, .img_life_style, .img_industry, .img_jewellery, .img_food, .img_hotel, .img_automobile, .img_corporate, .light, .shots_gallery, .gallery_rays1, .gallery_rays2, .btn_back, .img_lightrays, .img_projector, .img_self, .img_lighting_set, .img_flicker, .img_black_sofa, .img_mac, .img_frame_1, .img_frame_2, .my_studio_para, .whoam_rays, .img_myblog, .img_standlight, .img_sofa, .img_chair, .about_para, .img_leftclients, .img_rightclients, .client_list, .tv, .myclients_left_rays, .myclients_right_rays, .img_centertoplight, .img_rightlight, .img_leftlight, .img_reachtable, .reachUs_para, .reachUs_content, .reach_rays, .mystudio_rays, .tooltip, .projector, .btn_view {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}
.pos_relative {
	position: relative;
}
.for_parallax {
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	position: absolute;/*z-index: -1;*/
}
/*Home*/
.home_banner {
	background: #878a97;
}
.homeFix1 {
	width: 120%;
	margin:0 0 0 -10%;
	background-color: #aeb4c4;
}
.hover_myShots_init {
	transform: rotate(-30deg) translate(-50%, -40%) scale(.5);
	-webkit-transform: rotate(-30deg) translate(-50%, -40%) scale(.5);
	-ms-transform: rotate(-30deg) translate(-50%, -40%) scale(.5);
	-moz-transform: rotate(-30deg) translate(-50%, -40%) scale(.5);
	-o-transform: rotate(-30deg) translate(-50%, -40%) scale(.5);
	transform-origin: bottom left;
	-webkit-transform-origin: bottom left;
	-moz-transform-origin: bottom left;
	-ms-transform-origin: bottom left;
	-o-transform-origin: bottom left;
	opacity: 0;
}
.hover_reachus_init {
	transform: rotate(-30deg) translate(-20%, -90%) scale(.5);
	-webkit-transform: rotate(-30deg) translate(-20%, -90%) scale(.5);
	-ms-transform: rotate(-30deg) translate(-20%, -90%) scale(.5);
	-moz-transform: rotate(-30deg) translate(-20%, -90%) scale(.5);
	-o-transform: rotate(-30deg) translate(-20%, -90%) scale(.5);
	transform-origin: bottom left;
	-webkit-transform-origin: bottom left;
	-moz-transform-origin: bottom left;
	-ms-transform-origin: bottom left;
	-o-transform-origin: bottom left;
	opacity: 0;
}
.hover_myclients_init {
	transform: rotate(-30deg) translate(-50%, -40%) scale(.5);
	-webkit-transform: rotate(-30deg) translate(-50%, -40%) scale(.5);
	-ms-transform: rotate(-30deg) translate(-50%, -40%) scale(.5);
	-moz-transform: rotate(-30deg) translate(-50%, -40%) scale(.5);
	-o-transform: rotate(-30deg) translate(-50%, -40%) scale(.5);
	transform-origin: bottom left;
	-webkit-transform-origin: bottom left;
	-ms-transform-origin: bottom left;
	-moz-transform-origin: bottom left;
	-o-transform-origin: bottom left;
	opacity: 0;
}
.hover_whoam_init {
	transform: rotate(-30deg) translate(-30%, -60%) scale(.5);
	-webkit-transform: rotate(-30deg) translate(-30%, -60%) scale(.5);
	-moz-transform: rotate(-30deg) translate(-30%, -60%) scale(.5);
	-ms-transform: rotate(-30deg) translate(-30%, -60%) scale(.5);
	-o-transform: rotate(-30deg) translate(-30%, -60%) scale(.5);
	opacity: 0;
}
.home_cont {
	background: url(../img/home_top.jpg) repeat-y center 0px;
}
.home_bottom {
	background: url(../img/home_bottom.jpg) repeat-x left 565px, url(../img/home_bootm_y.jpg) repeat-y left 565px;
}
.bg_home h1 {
	font-size: 33px;
	line-height: 26px;
	text-transform: uppercase;
	color: #f88a81;
	margin: 42px 0 0;
	font-family: 'RockwellStdLight';
}
.bg_home h1 span {
	color: #ce8a4e;
}
.bg_home sup {
	font-size: 16px;
	line-height: 19px;
}
.bg_home h4 {
	font-size: 14px;
	margin: 10px 0;
	font-family: 'OpenSansRegular';
}
.bg_home article {
	font-size: 12px;
	line-height: 17px;
	margin: 0px 0px 10px;
}
.home_about {
	top: 185px;
	position: relative;
}
.img_umperla, .bg_home {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}
.bg_home {
	margin: 0 0 0 -90px;/*opacity: 0;*/
	width: 510px;
}
.img_light_r {
	top: 50px;
	margin: 0 0 0 -350px;
	opacity: 1;
	width: 71px;
	height: 163px;
}
.img_light_l {
	top: 70px;
	margin: 0 0 0 300px;
	width: 79px;
	height: 187px;
}
.img_photos {
	top: 150px;
	margin: 0 0 0 -565px;
	cursor: pointer;
	transition: 0.5s all;
}
.hover_myShots {
	top: 120px;
	margin: 0 0 0 -477px;
	transition: all .5s;
	-webkit-transition: all .5s;
	-ms-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
}
.img_phone {
	top: 285px;
	margin: 0 0 0 -560px;
	cursor: pointer;
}
.hover_reachus {
	top: 330px;
	margin: 0 0 0 -480px;
	transition: all .5s;
	-webkit-transition: all .5s;
	-ms-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
}
.img_instrument {
	top: 280px;
}
.img_stool {
	top: 500px;
	margin: 0 0 0 -550px;
	cursor: pointer;
}
.hover_myclients {
	top: 450px;
	margin: 0 0 0 -490px;
	transition: all .5s;
	-webkit-transition: all .5s;
	-ms-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
}
.img_stand {
	top: 400px;
	margin: 0 0 0 265px;
	cursor: pointer;
}
.hover_whoam {
	top: 360px;
	margin: 0 0 0 340px;
	width: 404px;
	height: 434px;
	transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
}
.img_clock {
	top: -60px;
	margin: 0 0 0 250px;
	transform: scale(0.1);
	-webkit-transform: scale(0.1);
	-ms-transform: scale(0.1);
	-moz-transform: scale(0.1);
	-o-transform: scale(0.1);
}
.door_home {
	top: -2px;
	z-index: 1;
}
.img_door {
	top: 278px;
	margin: 0px 0 0 550px;
	padding: 50px 0 0;
	cursor: pointer;
	/*z-index:2;*/
}
.img_doorInner {
	top: 335px;
	margin: 0px 0 0 550px;
	cursor: pointer;
	/*z-index: 2;*/
}
.img_bgDoor {
	top: 273px;
	margin: 0px 0 0 555px;
	/*z-index: 2;*/
}
/*My Shots*/
.shots_page {
	overflow: hidden;
	width: 100%;
}
.myshots_page {
	width: 200%;
}
.shot_gallery_banner {
	width: 100%;
}
.shot_banner {
	background: #b02a24;
	position: relative;
}
.shot_top, .shot_gallery_top {
	overflow: hidden;
	background: url(../img/shot_top.jpg) no-repeat center top, url(../img/shotTopRepeat.jpg) repeat-x center top;
}
.shot_bottom, .shot_gallery_bottom {
	background: url(../img/shot_bottom.jpg) no-repeat center bottom, url(../img/myshoysBottomRepeat.jpg) repeat-x center bottom;
}
.shot_cont, .shot_gallery_top {
	background: url(../img/shot_cont.jpg) repeat-y center 0px;
}
.gallery_rays1, .gallery_rays2 {
	top: 35px;
	margin: 0 0 0 -175px;
}
.gallery_rays2 {
	margin: 0 0 0 329px;
}
.gallery_img_sec {
	overflow: hidden;
	width: 1140px;
	height: 473px;
	position: relative;
	margin: 0 auto;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.img_fashion {
	top: 53px;
	margin: 0 0 0 -178px;
	cursor: pointer;
	/*z-index:3030;*/
	-webkit-transition:all .5s;
    -moz-transition:all .5s;
    -o-transition:all .5s;
    -ms-transition: all .5s;
	transform-origin:800px 00px;
	-webkit-transform-origin: 800px 0px;
}
.transition1 {
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.btn_back {
	top: 20%;
	margin: 0 0 0 -360px;
	width: 40px;
	height: 40px;
	background: url(../img/btn_backGallery.png) no-repeat 0px 0px ;
	cursor: pointer;
}
.btn_back:hover {
	background: url(../img/btn_backGallery.png) no-repeat 0px bottom ;
}
.img_interiors {
	top: 302px;
	margin: 0 0 0 -175px;
	cursor: pointer;
	 -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -o-transition:all .5s;
    -ms-transition: all .5s;
	transform-origin:1350px 0px;
	-webkit-transform-origin: 1350px 00px;	
}

.img_adv {
	top: 20px;
	margin: 0 0 0 40px;
	cursor: pointer;
	 -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -o-transition:all .5s;
    -ms-transition: all .5s;
	transform-origin:1100px 0px;
	-webkit-transform-origin: 1100px 0px;	
}
 
.img_industry {
	top: 192px;
	margin: 0 0 0 300px;
	cursor: pointer;
	 -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -o-transition:all .5s;
    -ms-transition: all .5s;
	transform-origin:750px 0px;
	-webkit-transform-origin:750px 0px;	
}
.img_jewellery {
	top: 53px;
	margin: 0 0 0 465px;
	cursor: pointer;
	 -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -o-transition:all .5s;
    -ms-transition: all .5s;
	transform-origin:1000px 100px;
	-webkit-transform-origin: 1000px 100px;	
}
.img_food {
	top: 156px;
	margin: 0 0 0 -365px;
	cursor: pointer;
	 -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -o-transition:all .5s;
    -ms-transition: all .5s;
	transform-origin:700px 0px;
	-webkit-transform-origin: 700px 0px;	
}
.img_hotel {
	top: 26px;
	margin: 0 0 0 245px;
	cursor: pointer;
	 -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -o-transition:all .5s;
    -ms-transition: all .5s;
	transform-origin:750px 60px;
	-webkit-transform-origin: 700px 60px;	
}
.img_automobile {
	top: 0;
	margin: 0 0 0 -322px;
	cursor: pointer;
	 -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -o-transition:all .5s;
    -ms-transition: all .5s;
	transform-origin:650px 0px;
	-webkit-transform-origin: 650px 0px;	
}
.img_corporate {
	top: 228px;
	margin: 0 0 0 90px;
	cursor: pointer;
	 -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -o-transition:all .5s;
    -ms-transition: all .5s;
	transform-origin:1000px  0px;
	-webkit-transform-origin: 750px 0px;	
}
.light {
	bottom: 0;
	margin: 0 0 0 200px;
	cursor: pointer;
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
}
/*Shots Gallery*/

.shot_banner, .shot_gallery_banner {
	width: 100%;
	float: left;
	left: -25%;
}
.shot_gallery_banner {
	/*background: url(../img/bg_shots_gallery.jpg) no-repeat center 0px;*/
	position: relative;
	background: #b02a24;
	margin:0 -100% 0 0;
}
.shot_gallery_cont {
	background: url(../img/shot_gallery_cont.jpg) repeat-y center 0px;
}
.shot_gallery_top {
	background: url(../img/shot_gallery_top.jpg) no-repeat center 0px;
}
.shot_gallery_bottom {
	background: url(../img/shot_gallery_bottom.jpg) no-repeat center bottom;
}
/*.shot_gallery_top {;
	background: url(../img/shot_top.jpg) no-repeat center top, url(../img/shotTopRepeat.jpg) repeat-x center top;
}
.shot_gallery_bottom {
	background: url(../img/shot_bottom.jpg) no-repeat center bottom, url(../img/myshoysBottomRepeat.jpg) repeat-x center bottom;
}
.shot_gallery_cont {
	background: url(../img/shot_cont.jpg) repeat-y center 0px;
}*/
.shots_gallery {
	overflow: hidden;
	width: 785px;
	top: 27%;
}
.shots_gallery h1 {
	font-family: 'RockwellStdLight';
	font-size: 24px;
	color: #fff;
	text-align: center;
	margin: 0 0 25px; 
	padding: 4px 0;
}
.shots_gallery ul {
	overflow: hidden;
}
.shots_gallery ul li {
	overflow: hidden;
	float: left;
	margin: 6px 5px;
	width: 186px;
	height: 116px;
}
/*.shots_gallery ul li a {
	display: block;
	width: 186px;
	height: 116px;
	overflow: hidden;
	border: 1px solid #fff; 
}*/
.shots_gallery ul li img {
	transition: 0.5s all;
	transform: scale(1);
	display:block;
	width:100%;
}

.shots_gallery ul li img:hover {
	transform: scale(1.1) 
}
/*End Shots*/



/*who Am I*/
.whoam_banner {
	background: #d6b240;
}
.whoam {
}
.whoam_content {
	background: url(../img/whoam_cont.jpg) repeat-y center 0px;
}
.whoam_top {
	background: url(../img/whoam_top.jpg) no-repeat center 0px;
}
.whoam_bottom {
	background: url(../img/whoam_bottom.jpg) no-repeat center bottom;
}
.about_para {
	overflow: hidden;
	font-family: 'OpenSansRegular';
	width: 622px;
	margin: 0px 0 0 -180px;
	top: 30%;
	transition: all .2s;
}
.about_para h1 {
	font-family: 'RockwellStdLight';
	font-size: 24px;
	color: #544510;
	line-height: 34px;
	margin: 0 0 13px;
}
.about_para h1 span {
	font-size: 35px;
	text-transform: uppercase;
}
.about_para p {
	overflow: hidden;
	float: left;
	margin: 115px 28px 0 15px;
}
.about_para article {
	overflow: hidden;
	margin: 0 28px 0 0;
}
/*Images*/
.whoam_rays {
	top: 83px;
	margin: 0 0 0 310px;
}
.img_myblog {
	top: 30%;
	margin: 0 0 0 300px;
}
.img_myblog img:hover {
	animation-name: shakeit;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	-webkit-animation-name: shakeit;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-ms-animation-name: shakeit;
	-ms-animation-duration: 1s;
	-ms-animation-timing-function: linear;
	-ms-animation-iteration-count: infinite;	
	-moz-animation-name: shakeit;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;	
	-o-animation-name: shakeit;
	-o-animation-duration: 1s;
	-o-animation-timing-function: linear;
	-o-animation-iteration-count: infinite;	
}
@-webkit-keyframes shakeit {
0%{
transform: rotate(0deg) translate(2px, 1px);
-webkit-transform: rotate(0deg) translate(2px, 1px);
-ms-transform: rotate(0deg) translate(2px, 1px);
-moz-transform: rotate(0deg) translate(2px, 1px);
-o-transform: rotate(0deg) translate(2px, 1px);
}
10%{
transform: rotate(2deg) translate(1px, 2px);
-webkit-transform: rotate(2deg) translate(1px, 2px);
-ms-transform: rotate(2deg) translate(1px, 2px);
-moz-transform: rotate(2deg) translate(1px, 2px);
-o-transform: rotate(2deg) translate(1px, 2px);
}
20% {
transform: rotate(-2deg) translate(3px, 0px);
-webkit-transform: rotate(-2deg) translate(3px, 0px);
-ms-transform: rotate(-2deg) translate(3px, 0px);
-moz-transform: rotate(-2deg) translate(3px, 0px);
-o-transform: rotate(-2deg) translate(3px, 0px);
}
30% {
transform: rotate(0deg) translate(0px, -2px);
-webkit-transform: rotate(0deg) translate(0px, -2px);
-moz-transform: rotate(0deg) translate(0px, -2px);
-ms-transform: rotate(0deg) translate(0px, -2px);
-o-transform: rotate(0deg) translate(0px, -2px);
}
40% {
transform: rotate(-2deg) translate(-1px, 1px);
-webkit-transform: rotate(-2deg) translate(-1px, 1px);
-moz-transform: rotate(-2deg) translate(-1px, 1px);
-ms-transform: rotate(-2deg) translate(-1px, 1px);
-o-transform: rotate(-2deg) translate(-1px, 1px);
}
50% {
transform: rotate(2deg) translate(1px, -2px);
-webkit-transform: rotate(2deg) translate(1px, -2px);
-ms-transform: rotate(2deg) translate(1px, -2px);
-moz-transform: rotate(2deg) translate(1px, -2px);
-o-transform: rotate(2deg) translate(1px, -2px);
}
60% {
transform: rotate(0deg) translate(3px, -1px);
-webkit-transform: rotate(0deg) translate(3px, -1px);
-moz-transform: rotate(0deg) translate(3px, -1px);
-ms-transform: rotate(0deg) translate(3px, -1px);
-o-transform: rotate(0deg) translate(3px, -1px);
}
70% {
transform: rotate(2deg) translate(-2px, -1px);
-webkit-transform: rotate(2deg) translate(-2px, -1px);
-ms-transform: rotate(2deg) translate(-2px, -1px);
-moz-transform: rotate(2deg) translate(-2px, -1px);
-o-transform: rotate(2deg) translate(-2px, -1px);
}
80% {
transform: rotate(-2deg) translate(1px, 1px);
-webkit-transform: rotate(-2deg) translate(1px, 1px);
-moz-transform: rotate(-2deg) translate(1px, 1px);
-ms-transform: rotate(-2deg) translate(1px, 1px);
-o-transform: rotate(-2deg) translate(1px, 1px);
}
90% {
transform: rotate(0deg) translate(-2px, -2px);
-webkit-transform: rotate(0deg) translate(-2px, -2px);
-ms-transform: rotate(0deg) translate(-2px, -2px);
-moz-transform: rotate(0deg) translate(-2px, -2px);
-o-transform: rotate(0deg) translate(-2px, -2px);
}
100% {
transform: rotate(2deg) translate(-1px, 2px);
-webkit-transform: rotate(2deg) translate(-1px, 2px);
-moz-transform: rotate(2deg) translate(-1px, 2px);
-ms-transform: rotate(2deg) translate(-1px, 2px);
-o-transform: rotate(2deg) translate(-1px, 2px);
}
}
@keyframes shakeit {
0% {
transform: rotate(0deg) translate(2px, 1px);
-webkit-transform: rotate(0deg) translate(2px, 1px);
-ms-transform: rotate(0deg) translate(2px, 1px);
-moz-transform: rotate(0deg) translate(2px, 1px);
-o-transform: rotate(0deg) translate(2px, 1px);
}
10% {
transform: rotate(2deg) translate(1px, 2px);
-webkit-transform: rotate(2deg) translate(1px, 2px);
-ms-transform: rotate(2deg) translate(1px, 2px);
-moz-transform: rotate(2deg) translate(1px, 2px);
-o-transform: rotate(2deg) translate(1px, 2px);
}
20% {
transform: rotate(-2deg) translate(3px, 0px);
-webkit-transform: rotate(-2deg) translate(3px, 0px);
-ms-transform: rotate(-2deg) translate(3px, 0px);
-moz-transform: rotate(-2deg) translate(3px, 0px);
-o-transform: rotate(-2deg) translate(3px, 0px);
}
30% {
transform: rotate(0deg) translate(0px, -2px);
-webkit-transform: rotate(0deg) translate(0px, -2px);
-ms-transform: rotate(0deg) translate(0px, -2px);
-moz-transform: rotate(0deg) translate(0px, -2px);
-o-transform: rotate(0deg) translate(0px, -2px);
}
40% {
transform: rotate(-2deg) translate(-1px, 1px);
-webkit-transform: rotate(-2deg) translate(-1px, 1px);
-moz-transform: rotate(-2deg) translate(-1px, 1px);
-ms-transform: rotate(-2deg) translate(-1px, 1px);
-o-transform: rotate(-2deg) translate(-1px, 1px);
}
50% {
transform: rotate(2deg) translate(1px, -2px);
-webkit-transform: rotate(2deg) translate(1px, -2px);
-ms-transform: rotate(2deg) translate(1px, -2px);
-moz-transform: rotate(2deg) translate(1px, -2px);
-o-transform: rotate(2deg) translate(1px, -2px);
}
60% {
transform: rotate(0deg) translate(3px, -1px);
-webkit-transform: rotate(0deg) translate(3px, -1px);
-ms-transform: rotate(0deg) translate(3px, -1px);
-moz-transform: rotate(0deg) translate(3px, -1px);
-o-transform: rotate(0deg) translate(3px, -1px);
}
70% {
transform: rotate(2deg) translate(-2px, -1px);
-webkit-transform: rotate(2deg) translate(-2px, -1px);
-moz-transform: rotate(2deg) translate(-2px, -1px);
-ms-transform: rotate(2deg) translate(-2px, -1px);
-o-transform: rotate(2deg) translate(-2px, -1px);
}
80% {
transform: rotate(-2deg) translate(1px, 1px);
-webkit-transform: rotate(-2deg) translate(1px, 1px);
-ms-transform: rotate(-2deg) translate(1px, 1px);
-moz-transform: rotate(-2deg) translate(1px, 1px);
-o-transform: rotate(-2deg) translate(1px, 1px);
}
90% {
transform: rotate(0deg) translate(-2px, -2px);
-webkit-transform: rotate(0deg) translate(-2px, -2px);
-moz-transform: rotate(0deg) translate(-2px, -2px);
-ms-transform: rotate(0deg) translate(-2px, -2px);
-o-transform: rotate(0deg) translate(-2px, -2px);
}
100% {
transform: rotate(2deg) translate(-1px, 2px);
-webkit-transform: rotate(2deg) translate(-1px, 2px);
-moz-transform: rotate(2deg) translate(-1px, 2px);
-ms-transform: rotate(2deg) translate(-1px, 2px);
-o-transform: rotate(2deg) translate(-1px, 2px);
}
}
.img_standlight {
	bottom: 40px;
	margin: 0 0 0 550px;
}
.img_sofa {
	bottom: -40px;
	margin: 0 0 0 330px;
}
.img_chair {
	bottom: -20px;
	margin: 0 0 0 -380px;
}
/*End who Am I*/

/*My Studio*/
.studio_banner {
	background: #7980a2;
}
.studio_cont {
	background: url(../img/studio_cont.jpg) repeat-y center 0px;
}
.studio_top {
	background: url(../img/studio_top.jpg) no-repeat center top;
}
.studio_bottom {
	background: url(../img/studio_bottom.jpg) no-repeat center bottom, url(../img/studio_bottom_bg.jpg) repeat-x right bottom;
}
.studio {
	z-index: 0;
}
.my_studio_para {
	overflow: hidden;
	color: #fff;
	width: 440px;
}
.my_studio_para h1 {
	overflow: hidden;
	font-size: 24px;
	font-family: 'RockwellStdLight';
	margin: 0 0 20px;
	color: #fff;
}
.my_studio_para p {
	overflow: hidden;
	margin: 0 0 20px;
	font-size: 13px;
}
.my_studio_para ul {
	overflow: hidden;
	margin: 25px 0 0px;
	width: 322px;
}
.my_studio_para ul li {
	overflow: hidden;
	padding: 0 0 10px 18px;
	background: url(../img/bg_list.png) no-repeat 0 6px;
}
.projector {
	top: 0px;
	margin: 0 0 0 -14px;
	z-index: 103;
	width: 113px;
	height: 140px;
	background: url(../img/projector.png) no-repeat;
	cursor: pointer;
}
.projector.active {
	background: url(../img/projector_on.png) no-repeat
}
.mystudio_rays {
	top: 40px;
	margin: 0;
	display: none;
}
.tooltip {
	top: 110px;
	color: #fff;
	margin: 0px 0px 0px 90px;
	visibility: hidden;
	transition: 0.3s all;
	-webkit-transition: 0.3s all;
	-ms-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-o-transition: 0.3s all;
}
.hover_tool_show {
	visibility: visible;
	transition: 0.3s all;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-ms-transition: 0.3s all;
	-o-transition: 0.3s all;
}
.img_lightrays {
	top: -60px;
}
.img_self {
	top: 235px;
	margin: 0 0 0 -400px;
}
.img_lighting_set {
	bottom: -100px;
	margin: 0 0 0 -300px;
}
.img_flicker {
	bottom: -145px;
	margin: 0 0 0 300px;
}
.img_black_sofa {
	bottom: 50px;
	margin: 0 0 0 500px;
}
.img_frame_1 {
	top: 35%;
	margin: 0 0 0 500px;
}
.img_frame_2 {
	top: 25%;
	margin: 0 0 0 400px;
}
.img_mac {
	bottom: -110px;
	margin: 0 0 0 -550px;
}
/*End My studio*/

/*My clients*/
.client_banner {
	background: #df692b;
}
.client_content {
	background: url(../img/client_cont.jpg) repeat-y center 0px;
}
.client_top {
	background: url(../img/client_top.jpg) no-repeat center 0px;
}
.client_bottom {
	background: url(../img/client_bottom1.jpg) no-repeat center bottom;
}
.myclients_left_rays {
	top: 147px;
	margin: 0 0 0 -595px;
}
.myclients_right_rays {
	top: 145px;
	margin: 0 0 0 595px;
}
.img_leftclients {
	top: 250px;
	margin: 0 0 0 -600px;
}
.img_rightclients {
	top: 250px;
	margin: 0 0 0 600px;
}
.tv {
	bottom: 190px;
}
/*Client List*/
.client_list {
	bottom: 0px;
	margin: 0 0 0 330px;
}
.img_clientlist {
	right: 0px;
	top: 0px;
	position: relative;
}
.clientlist_content {
	position: absolute;
	top: 80px;
	left: 78px;
	font-family: 'rockwellstd';
}
.clientlist_content h3 {
	font-size: 30px;
	color: rgba(82,75,67,0.4);
	text-align: center;
	padding-bottom: 25px;
}
.clientlist_content h3 span, .clientlist_content p span {
	font-weight: 900;
}
.clientlist_content h3 span, #scroller li span {
	font-weight: 900;
}
.wrapper_cont {
	overflow: hidden;
	width: 160px;
	height: 290px;
}
.clientlist_content p {
	font-size: 13px;
	color: #fff;
	text-align: left;
	line-height: 30px;
	font-family: 'OpenSansRegular';
}
#wrapper_iscroll, #wrapper_iscroll2 {
	position: absolute;
	z-index: 1;
	top: 45px;
	bottom: 48px;
	left: 0;
	width: 170px;
	overflow: hidden;
}
.wrapper_studio {
	overflow: hidden;
	height: 500px;
}
#wrapper_iscroll2 {
	top: 200px;
	height: 270px;
	width: 500px;
	left: 50%;
	transform: translateX(-50%); 
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}
#scroller {
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
#scroller1 {
	margin: 0 0 0 -210px;
	overflow: hidden;
	width: 440px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
#scroller {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: left;
}
#scroller li {
	font-size: 13px;
	color: #fff;
	text-align: left;
	line-height: 30px;
	font-family: 'OpenSansRegular';
}
/*Reach us*/
.reachUs_banner {
	background: #ad628b;
	color: #ac628a;
	position: relative;
}
.reachUs {
}
.reach_cont {
	background: url(../img/reach_cont.jpg) repeat-y center top;
}
.reach_top {
	background: url(../img/reach_top.jpg) no-repeat center top;
}
.reach_bottom {
	background: url(../img/reach_bottom.jpg) no-repeat center bottom;
}
.img_centertoplight {
	top: 10%;
}
.img_rightlight {
	top: -9%;
}
.img_leftlight {
	top: 90px;
}
.img_reachtable {
	bottom: -27px;
	margin: 0 0 0 110px;
}
.reach_rays {
	top: 75px;
	margin: 0 0 0 0px;
}
.reachUs_para {
	overflow: hidden;
	font-family: 'rockwellstd';
	width: 782px;
	top: 30%;
}
.reachUs_para h1 {
	font-size: 27px;
	color: #fff;
	line-height: 34px;
	margin: 0px 0 10px 0px;
}
.reachUs_para p {
	overflow: hidden;
	float: left;
	color: #fff;
	font-size: 15px;
	font-family: 'OpenSansRegular';
}
.reachUs_content {
	overflow: hidden;
	width: 782px;
	margin: 0 auto;
	top: 45%;
	color: #fff;
}
.address {
	width: 275px;
	float: left;
	overflow: hidden;
	font-size: 15px;
}
.address h2, .location h2, .enquiry h2 {
	color: #fff;
	font-size: 19px;
	font-family: 'rockwellstd';
	text-align: left;
}
.address ul {
	list-style: none;
	padding: 15px 0 26px 0;
}
.address li, .enquiry p, .address p {
	color: #fff;
	font-size: 15px;
	font-family: 'OpenSansRegular';
}
.mobile_num {
	overflow: hidden;
	background: url(../img/phone.png) no-repeat 0px 0px;
	padding: 4px 0 0px 30px;
	color: #fff;
}
.address p span {
	padding-left: 15px;
}
.location {
	width: 250px;
	height: 150px;
	float: left;
	overflow: hidden;
	margin: 0 0px 0 0;
}
.location h2 {
	text-align: center !important;
	width: 150px !important;
}
.enquiry {
	width: 200px;
	float: left;
	overflow: hidden;
}
.enquiry p {
	padding: 15px 0 0 0;
}
.btn_enquiry {
	overflow: hidden;	
	float: left;
	margin: 16px 0 0 0;
	cursor: pointer;
	padding: 15px 25px;
	background: url(../img/contact_bg.jpg) repeat-x left top;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: rgba(161,109,158, 0.9);
	font-size: 21px;
	font-family: 'rockwellstd';
	-webkit-box-shadow: 0px 9px 0px rgba(138,203,209,1), 0px 9px 25px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 9px 0px rgba(138,203,209,1), 0px 9px 25px rgba(0,0,0,.3);
	-ms-box-shadow: 0px 9px 0px rgba(138,203,209,1), 0px 9px 25px rgba(0,0,0,.3);
	-o-box-shadow: 0px 9px 0px rgba(138,203,209,1), 0px 9px 25px rgba(0,0,0,.3);
	box-shadow: 0px 9px 0px rgba(138,203,209,1), 0px 9px 25px rgba(0,0,0,.3);
}
.btn_enquiry:hover {
	background: url(../img/contact_bg.jpg) repeat-x left bottom;
	color: #454545;
}
.btn_enquiry:active {
	-webkit-box-shadow: 0px 9px 0px rgba(138,203,209,00), 0px 9px 25px rgba(0,0,0,.1);
	-moz-box-shadow: 0px 9px 0px rgba(138,203,209,0), 0px 9px 25px rgba(0,0,0,.1);
	-ms-box-shadow: 0px 9px 0px rgba(138,203,209,0), 0px 9px 25px rgba(0,0,0,.1);
	-o-box-shadow: 0px 9px 0px rgba(138,203,209,0), 0px 9px 25px rgba(0,0,0,.1);
	box-shadow: 0px 9px 0px rgba(138,203,209,0), 0px 9px 25px rgba(0,0,0,.1);
	position: relative;
	top: 6px;
}
.black_overlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0;
	opacity: 0;
	filter: alpha(opacity=80);
}
.white_content {
	display: none;
	position: absolute;
	width: 428px;
	left: 35%;
	right: 34%;
	top: 25%;
	padding: 16px;
	z-index: 1002;
	overflow: auto;
	box-sizing: border-box;
}
.event-content {
	padding: 54px 35px;
	overflow: hidden;
	background-color: #FFF;
}
.event-content h4 {
	font-size: 21px;
	color: #000;
	text-align: center;
	font-family: 'rockwellstd';
}
.event-form {
	overflow: auto;
	overflow: auto;
	margin: 25px 0;
}
.event-title {
	overflow: hidden;
	margin-bottom: 15px;
}
.event-title label {
	color: #000;
	float: left;
	width: 70px;
	margin: 4px 0 0;
	font-family: 'rockwellstd';
	font-size: 15px;
}
.fillTitleText {
	height: 20px;
	width: 216px;
	float: left;
	padding:0 0 0 10px;
	border: 1px solid #000000;
	background-color: #fff;
}
.fillMsg {
	height: 80px;
	width: 206px;
	float: left;
	padding:10px;
	border: 1px solid #000000;
	background-color: #fff;
}
.event-title .dt {
	padding:0 0 0 10px;
}
.event-action {
	overflow: hidden;
	margin:0 0 0 71px;
}
.btn_contact a {
	overflow: hidden;
	float: left;
	border: none;
	display: block;
	color: #fff;
	background: url(../img/bg_btn_send.png) repeat-x top left;
	font-size: 18px;
	font-family: 'rockwellstd';
	font-weight: 100;
	cursor: pointer;
	padding: 0px 24px;
	height: 30px;
	width: 40px;
	cursor: pointer;
}
.btn_contact a:hover {
	background: url(../img/bg_btn_send.png) repeat-x bottom left;;
}
.btn_contact a {
	overflow: hidden;
	position: relative;
	height: 30px;
	background: url(../img/send_bg.png) repeat-x;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	line-height: 30px;
	font-family: 'rockwellstd';
	-webkit-box-shadow: 0px 9px 0px rgba(138,203,209,1), 0px 9px 25px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 9px 0px rgba(138,203,209,1), 0px 9px 25px rgba(0,0,0,.3);
	box-shadow: 0px 9px 0px rgba(138,203,209,1), 0px 9px 25px rgba(0,0,0,.3);
}
.btn_contact a:active {
	-webkit-box-shadow: 0px 9px 0px rgba(138,203,209,00), 0px 9px 25px rgba(0,0,0,.1);
	-moz-box-shadow: 0px 9px 0px rgba(138,203,209,0), 0px 9px 25px rgba(0,0,0,.1);
	box-shadow: 0px 9px 0px rgba(138,203,209,0), 0px 9px 25px rgba(0,0,0,.1);
	position: relative;
	top: 6px;
}
.close_box {
	top: 0px;
	right: 0px;
	width: 40px;
	height: 40px;
	border-radius: 30px;
	position: absolute;
	cursor: pointer;
	background: url(../img/pop_close.png) no-repeat bottom left;
}
.close_box:hover {
	background: url(../img/pop_close.png) no-repeat top left;
}

.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
/*End reach us*/


/*POPUP*/
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}
.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.fancybox-opened {
	z-index: 8030;
}
.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.fancybox-outer, .fancybox-inner {
	position: relative;
}
.fancybox-inner {
	overflow: hidden;
}
.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}
.fancybox-error {
	color: #444;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}
.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}
.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}
#fancybox-loading, .fancybox-prev span, .fancybox-next span {
	background-image: url(../img/fancybox_sprite.png);
}
#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin:-22px 0 0 -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}
#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('fancybox_loading.gif') center center no-repeat;
}
.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	z-index: 8040;
	background: url(../img/pop_close.png) no-repeat left top;
}
.fancybox-close:hover {
	background: url(../img/pop_close.png) no-repeat left bottom;
}
.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}
.fancybox-prev {
	left: 0;
}
.fancybox-next {
	right: 0;
}
.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}
.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}
.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}
.fancybox-nav:hover span {
	visibility: visible;
}
.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}
/* Overlay helper */

.fancybox-lock {
	overflow: hidden !important;
	width: auto;
}
.fancybox-lock body {
	overflow: hidden !important;
}
.fancybox-lock-test {
	overflow-y: hidden !important;
}
.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url(../source/fancybox_overlay.png) rgba(0,0,0,0.5);
}
.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}
.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}
/* Title helper */

.fancybox-title {
	visibility: hidden;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}
.fancybox-opened .fancybox-title {
	visibility: visible;
}
.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin:0 0 -35px 0;
	z-index: 8050;
	text-align: center;
}
.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}
.fancybox-title-outside-wrap {
	position: relative;
	margin: 10px 0 0 0;
	color: #fff;
}
.fancybox-title-inside-wrap {
	padding: 10px 0 0 0;
}
.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, 0.8);
}
/*End PopUp*/
#map {
	display: none;
	position: absolute;
	width: 1200px;
	height: 500px;
	left: 500px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	top: 25%;
	padding: 16px;
	z-index: 1002;
	overflow: hidden;
}
/*Slider*/
#wrap {
	margin: 100px 0 0 0;
	width: 100%;
	min-width: 345px;
	height: 500px;
	max-height: 165px;
	//background: url(../img/TV.jpg) no-repeat 0px 0px;
	padding: 10px 8px;
}
#slider-holder {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 217px;
	height: 100%;
	max-height: 120px;
	overflow: hidden;
}
#slider-holder .slide {
	display: none;
	position: absolute;
	float: left;
	width: 100%;
	height: auto;
	max-height: 115px;
	font-size: 0px;
}
.slide .slide-img {
	position: relative;
	margin: 0;
	width: 100%;
	max-width: 215px;
	height: auto;
	max-height: 115px;
}
.slide h3 {
	position: absolute;
	z-index: 100;
	width: 100%;
	color: #fff;
	/* top: 0px; */
	left: 2px;
	background: rgba(0,0,0,0.5);
	font-size: 14px;
	text-align: center;
	bottom: -5px;
}
#slider-holder #btn-nav-holder {
	z-index: 20;
	position: absolute;
	bottom: 20px;
	left: 20px;
	visibility: hidden;
}
.level4 img {
	position: absolute;
	bottom: -50px;
	margin-left: 202px;
	left: 50%;
}
/* jquery Add class */
.img_photos_addclass1 {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transition: .5s all;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-ms-transition: .5s all;
	-o-transition: .5s all;
}
.img_photos_addclass2 {
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transition: .5s transform;
	-webkit-transition: .5s transform;
	-moz-transition: .5s transform;
	-ms-transition: .5s transform;
	-o-transition: .5s transform;
}
.img_phone_addclass1 {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transition: .5s transform;
	-webkit-transition: .5s transform;
	-moz-transition: .5s transform;
	-ms-transition: .5s transform;
	-o-transition: .5s transform;
}
.img_phone_addclass2 {
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transition: .5s transform;
	-webkit-transition: .5s transform;
	-moz-transition: .5s transform;
	-ms-transition: .5s transform;
	-o-transition: .5s transform;
}
.img_stool_addclass1 {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transition: .5s transform;
	-webkit-transition: .5s transform;
	-moz-transition: .5s transform;
	-ms-transition: .5s transform;
	-o-transition: .5s transform;
}
.img_stool_addclass2 {
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transition: .5s transform;
	-webkit-transition: .5s transform;
	-moz-transition: .5s transform;
	-ms-transition: .5s transform;
	-o-transition: .5s transform;
}
.img_door_addclass1 {
	transform: perspective( 600px ) rotateY(70deg);
	-webkit-transform: perspective( 600px ) rotateY(70deg);
	-ms-transform: perspective( 600px ) rotateY(70deg);
	-moz-transform: perspective( 600px ) rotateY(70deg);
	-o-transform: perspective( 600px ) rotateY(70deg);
	-webkit-transition: .5s transform;
	-moz-transition: .5s transform;
	-ms-transition: .5s transform;
	-o-transition: .5s transform;
	transform-origin: left;
	-ms-transform-origin: left;
	-webkit-transform-origin: left;
	-o-transform-origin: left;
	-moz-transform-origin: left;
	cursor: pointer;
}
.img_door_addclass2 {
	transform: rotateY(-0deg);
	-webkit-transform: rotateY(-0deg);
	-ms-transform: rotateY(-0deg);
	-moz-transform: rotateY(-0deg);
	-o-transform: rotateY(-0deg);
	-webkit-transition: .5s transform;
	-moz-transition: .5s transform;
	-ms-transition: .5s transform;
	-o-transition: .5s transform;
	transform-origin: left;
	-ms-transform-origin: left;
	-webkit-transform-origin: left;
	-o-transform-origin: left;
	-moz-transform-origin: left;
	cursor: pointer; 
}

/*clock*/

#clock {
	position: relative;
	width: 600px;
	height: 600px;
	margin: 20px auto 0 auto;
	background: url(../img/clockface.png);
	list-style: none;
	}

#sec, #min, #hour {
	position: absolute;
	width: 30px;
	height: 600px;
	top: 0px;
	left: 285px;
	}

#sec {
	background: url(../img/sechand.png);
	z-index: 3;
	}
   
#min {
	background: url(../img/minhand.png);
	z-index: 2;
	}
   
#hour {
	background: url(../img/hourhand.png);
	z-index: 1;
	}

/*Marquee Clients*/
.marquee {
    top: 0px;
    position: relative;
    animation: marquee 25s linear infinite;
	-moz-animation: marquee 25s linear infinite;
	-o-animation: marquee 25s linear infinite;
	-webkit-animation: marquee 25s linear infinite;
	-ms-animation: marquee 25s linear infinite;
}

.marquee:hover {
    animation-play-state: paused;
	-moz-animation-play-state: paused;
	-webkit-animation-play-state: paused;
	-o-animation-play-state: paused;
	-ms-animation-play-state: paused;
}

/* Make it move! */
@keyframes marquee {
    0%   { top:   0em }
    50% { top: -85em }
	51% { top: -85em }
	100% { top: 0em; }
}
/*@-webkit-keyframes marquee {
    0%   { top:   0em }
    100% { top: -85em }
}*/
@-moz-keyframes marquee {
    0%   { top:   0em }
    100% { top: -84em }
}
@-ms-keyframes marquee {
    0%   { top:   0em }
    100% { top: -84em }
}
@-o-keyframes marquee {
    0%   { top:   0em }
    100% { top: -84em }
}


#shots p {
	font-size: 14px;
	color: #fff;
	font-family: 'OpenSansRegular';
	text-align: center;
	margin: -15px 0 0;
}


/*Studio Buttons*/
.btn_view {
	bottom:80px;
	margin: 0 0 0 -100px;
	z-index: 1;
}
.view_studio, .view_college {
	position: relative;
	float: left;
	margin: 0px 20px 0px;
	width: 80px;
	height: 108px;
	background: url(../img/hoverEffect.png) no-repeat top;
}
.view_studio a, .view_college a {
	display: block;
	width: 82px;
	height: 83px;
}
.view_college {
	background: url(../img/hoverEffecCollege.png) no-repeat top;
}
.view_normal, .view_normal1 {
	position: absolute;
	top: -1px;
	left: -1px;
	width: 82px;
	height: 83px;
	overflow: hidden;
	background: url(../img/img_mask.png) no-repeat top;
}
.view_normal_mask {
	position: absolute;
	width: 82px;
	height: 83px;	
	background: url(../img/img_mask.png) no-repeat top;
	z-index:1;
}
.view_cam, .view_cam1 {
	position: absolute;
	transition: 0.4s all;
	-webkit-transition: 0.4s all;
	-moz-transition: 0.4s all;
	-o-transition: 0.4s all;
	-ms-transition: 0.4s all;
}
.rotate_trans {
	transform: rotate(50deg) scale(1);
	-webkit-transform: rotate(50deg) scale(1);
	-moz-transform: rotate(50deg) scale(1);
	-ms-transform: rotate(50deg) scale(1);
	-o-transform: rotate(50deg) scale(1);
}
.view_normal img, .view_normal1 img {
	display: block;
	width: 82px;
	height: 83px;
	transform: scale(4);
	-webkit-transform: scale(4);
	-moz-transform: scale(4);
	-ms-transform: scale(4);
	-o-transform: scale(4);
	transition: 0.4s all;
	-webkit-transition: 0.4s all;
	-moz-transition: 0.4s all;
	-o-transition: 0.4s all;
	-ms-transition: 0.4s all;
}
/*End Studio Buttons*/


.locate_img {
	cursor: pointer;
	overflow: hidden;
	margin: 0 15px;
}
.locate_img:hover {
	-webkit-animation-name: mapShake;
	-o-animation-name: mapShake;
	-ms-animation-name: mapShake;
	-moz-animation-name: mapShake;
	animation-name: mapShake;
	-webkit-animation-duration: 1s;
	-o-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	-ms-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
@-webkit-keyframes mapShake {
0%{
transform: rotate(0deg);
transform-origin: top center;
-webkit-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
}
10%{
	transform-origin: top center;
transform: rotate(2deg) );
-webkit-transform: rotate(2deg);
-ms-transform: rotate(2deg) ;
-moz-transform: rotate(2deg) ;
-o-transform: rotate(2deg);
}
20%{
	transform-origin: top center;
transform: rotate(3deg) );
-webkit-transform: rotate(3deg);
-ms-transform: rotate(3deg) ;
-moz-transform: rotate(3deg) ;
-o-transform: rotate(3deg);
}
30%{
	transform-origin: top center;
transform: rotate(4deg) );
-webkit-transform: rotate(4deg);
-ms-transform: rotate(4deg) ;
-moz-transform: rotate(4deg) ;
-o-transform: rotate(4deg);
}
40%{
	transform-origin: top center;
transform: rotate(5deg) );
-webkit-transform: rotate(5deg);
-ms-transform: rotate(5deg) ;
-moz-transform: rotate(5deg) ;
-o-transform: rotate(5deg);
}
50%{
	transform-origin: top center;
transform: rotate(0deg) );
-webkit-transform: rotate(0deg);
-ms-transform: rotate(0deg) ;
-moz-transform: rotate(0deg) ;
-o-transform: rotate(0deg);
}
60%{
	transform-origin: top center;
transform: rotate(-2deg) );
-webkit-transform: rotate(-2deg);
-ms-transform: rotate(-2deg) ;
-moz-transform: rotate(-2deg) ;
-o-transform: rotate(-2deg);
}
70%{
	transform-origin: top center;
transform: rotate(-3deg) );
-webkit-transform: rotate(-3deg);
-ms-transform: rotate(-3deg) ;
-moz-transform: rotate(-3deg) ;
-o-transform: rotate(-3deg);
}
80%{
	transform-origin: top center;
transform: rotate(-4deg) );
-webkit-transform: rotate(-4deg);
-ms-transform: rotate(-4deg) ;
-moz-transform: rotate(-4deg) ;
-o-transform: rotate(-4deg);
}
90%{
	transform-origin: top center;
transform: rotate(-5deg) );
-webkit-transform: rotate(-5deg);
-ms-transform: rotate(-5deg) ;
-moz-transform: rotate(-5deg) ;
-o-transform: rotate(-5deg);
}
100%{
	transform-origin: top center;
transform: rotate(0deg) );
-webkit-transform: rotate(0deg);
-ms-transform: rotate(0deg) ;
-moz-transform: rotate(0deg) ;
-o-transform: rotate(0deg);
}

}
.image_pad {
	padding: 0;
	margin: 0 13px -4px;;
}
/*@media screen and ( max-height: 950px ){
	.img_stand {
		margin: 0 0 0 285px;
	}
	.hover_whoam {
		margin: 0 0 0 300px;
	}
}*/