/* Scss Document */ 
/*Home*/
.outer-container {
	font-size: 0.875em;
}
.home {
	background: #63af49;
	padding: 200px 0 0;
	overflow: hidden; 
}
#main {
	min-height: 100%;
	width: 100%;
	position: absolute;
}
#question {
	font-size: 84px;
	color: #FFF;
	position: relative;
}
.services .services-content .services-list .navbar-left li {
}
@media (max-width: 600px) {
    #question {font-size: 44px;}
}
#q1, #q2, #q3, #q4, #q5 {
	display:none;
}
#intro-outer {
	position:relative;
	height:314px;
}
#intro-container {
	/*background: url(../images/ref1.png) center;*/
}
#intro-container-yes {
	position:relative;
	top: -100px;
}
#intro-triangle {
	z-index: 2;
	position: relative;
	left: 288px;
	top: 233px;
}
#intro-rect {
	z-index: 3;
	position: relative;
	left: 22px;
	top: 202px;
	/*transform: rotate(-7deg);*/
	behavior: url(-ms-transform.htc);
	/* Firefox */
	-moz-transform: rotate(-7deg);
	/* Safari and Chrome */
	-webkit-transform: rotate(-7deg);
	/* Opera */
	-o-transform: rotate(-7deg);
	/* IE9 */
	-ms-transform: rotate(-7deg);
    /* IE6,IE7 */
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
	/* IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)";
}
#intro-coin {
	z-index: 4;
	position: relative;
	left: -516px;
	top: 232px;
}
#intro-text {
	z-index: 5;
	position: relative;
	left: 80px;
	top: 68px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
}
#intro-arrow {
	z-index: 6;
	position: relative;
	left: 199px;
	top: -14px;
}
#intro-hand {
	z-index: 7;
	position: relative;
	left: 205px;
	top: 21px;
	cursor: pointer;
}
#intro-coin-yes {
	position: relative;
}
#link-replay {
	position: relative;
	color:#1e1e1e;
	font-size:17;
	text-decoration:none;
	background:url(../images/restart.png) no-repeat 0 3px;
	padding-left:15px;
}
#bottom-logo {
	position:fixed;
	bottom: 0;
	right: 0;
	padding: 0 50px 50px 0;
}
#menu-container {
	text-align:center;
	position: relative;
	top:10px;
}
#menu-container a {
	color:#fff;
	font-size:20px;
	text-decoration:none;
}
#menu-container a:hover {
	color:#1e1e1e;
}

div.centre {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}
.page-heading {
	font-size:80px;
	color:#fff;
}
.page-cont {
	width:70%;
	margin-left: auto;
	margin-right: auto;
	line-height:26px;
}
.inner-menu-container {
	clear:both;
	margin:80px;
	color:#222;
	font-size: 20px;
}
.inner-menu-container a {
	color:#fff;
	text-decoration:none;
}
.inner-menu-container a:hover {
	color:#000;
}
.normal-list {
	text-align:left;
	margin: 30px auto 0 auto;
	width:400px;
}
.normal-list li {
	background:url(../images/bullet1.png) 0 6px no-repeat;
	list-style:none;
	padding: 0px 0 10px 20px;
}
@media (min-width: 800px) {
	.half {
		float:left;
		width:50%;
	}
	
	#contact-info {
		float:right;
		width:350px;
	}
	#contact-form {
		float:left;
		width:400px;
	}
}

#cont-address {
	padding: 0 0 0 40px;
	background:url(../images/icon-address.png) 0 0 no-repeat;
	text-align:left;
	font-size:18px;
}
.cont-mail {
	padding: 0 0 0 40px;
	background:url(../images/icon-mail.png) 0 0 no-repeat;
	text-align:left;
	font-size:18px;
}
.cont-mail a {
	text-decoration:none;
	color:#000;
}
.cont-mail a:hover {
	color:#fff;
}
.cont-phone {
	padding: 0 0 0 40px;
	background:url(../images/icon-phone.png) 0 0 no-repeat;
	text-align:left;
	font-size:18px;
}
.cont-social {
	float:left;
}
.cont-social a {
	text-indent:-9999px;
	width:38px;
	height:38px;
	display:inline-block;
	margin:0 0 0 10px;
}
#social-fb {
	background:url(../images/icon-fb.png) 0 0 no-repeat;
}
#social-fb:hover {
	background:url(../images/icon-fb.png) 0 -38px no-repeat;
}
#social-tw {
	background:url(../images/icon-tw.png) 0 0 no-repeat;
}
#social-tw:hover {
	background:url(../images/icon-tw.png) 0 -38px no-repeat;
}
#social-ln {
	background:url(../images/icon-ln.png) 0 0 no-repeat;
}
#social-ln:hover {
	background:url(../images/icon-ln.png) 0 -38px no-repeat;
}
#social-go {
	background:url(../images/icon-go.png) 0 0 no-repeat;
}
#social-go:hover {
	background:url(../images/icon-go.png) 0 -38px no-repeat;
}
#social-yo {
	background:url(../images/icon-yo.png) 0 0 no-repeat;
}
#social-yo:hover {
	background:url(../images/icon-yo.png) 0 -38px no-repeat;
}
#frm {
	text-align:right;
	background-color:rgba(0, 0, 0, 0.1);
	padding:10px 40px 10px 10px;
	margin:20px;
}
#frm input {
	border:0;
	background-color:#FFF;
	color:#000;
	width:180px;
	height:30px;
	margin: 10px 0 0 10px;
	padding:0 0 0 5px;
}
#frm textarea {
	border:0;
	background-color:#FFF;
	color:#000;
	width:180px;
	height:75px;
	margin:10px 0 0 10px;
	padding:0 0 0 5px;
}
.msg {
	vertical-align:top;
	line-height:40px;
}
#frm button {
	width:96px;
	height:36px;
	display:block;
	background:url(../images/btn-send.png) 0 0 no-repeat;
	border:0;
	text-indent:-9999px;
	cursor:pointer;
	margin:15px 0 10px 126px;
}
#frm button:hover {
	background:url(../images/btn-send.png) 0 -36px no-repeat;
}
/*End Home*/

.logo, .contact-logo
{
  width: 88px;
  height: 61px;
  bottom: 2%;
  right: 2%;
  display: block;
  position: absolute;
}
.new-logo {
	width: 91px;
	height: 61px;
	bottom: 2%;
	right: 2%;
	position: absolute;
}
nav
{
  position: fixed;
  top: 0;
  width: 100%;
  height: 33px;
  background-color: rgba(11,11,11,0.75);
  z-index: 1010;
  .nav-bar
  	{ 
  		float: left;
		padding: 9px 0 0 7px;
		li
		{
			  display: inline-block;
			  padding: 0 20px 0 19px; 
			  
			  a
			  {
				    
					text-decoration: none;
					font-family: 'MyriadProRegular';
					color: rgba(255,255,255,0.7);
					text-decoration:none;
					     &:hover, &:focus
							{
								outline: none;
								color: rgba(255,255,255,1);
								text-decoration:none;
							} 
					 &::before,
					&::after {
						display: inline-block;
						opacity: 0;
						-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
						-moz-transition: -moz-transform 0.3s, opacity 0.2s;
						transition: transform 0.3s, opacity 0.2s;
					}
					
					&::before {
						margin-right: 10px;
						content: '[';
						-webkit-transform: translateX(20px);
						-moz-transform: translateX(20px);
						transform: translateX(20px);
					}
					
					&::after {
						margin-left: 10px;
						content: ']';
						-webkit-transform: translateX(-20px);
						-moz-transform: translateX(-20px);
						transform: translateX(-20px);
					}
					
					&:hover::before,
					&:hover::after,
					&:focus::before,
					&:focus::after {
						opacity: 1;
						-webkit-transform: translateX(0px);
						-moz-transform: translateX(0px);
						transform: translateX(0px);
					}
			  }
			 
		}
	}
	.social-icons
		{
			 
			 padding:0;
			 margin:0 2% 0 0;
			li
				{
					  display: inline-block;
					  a
					  {
						  width:33px;
						  height:33px; 
						  display:block;
						  &.fb
						  {
							  background: url(../images/menu_ico_fb.png) bottom no-repeat;
							   width:33px;
						  	   height:33px;							   
								transition: 0.5s all;
							  &:hover
							  {
								    background: url(../images/menu_ico_fb.png) top no-repeat;
							  }
						  }
						  &.linked-in
						  {
							 /* background:url(../images/linked-in.png) top no-repeat;*/
							 background: url(../images/menu_ico_in.png) bottom no-repeat;
							   width:33px;
						  		height:33px;
								transition: 0.5s all;
							  &:hover
							  {
								    background: url(../images/menu_ico_in.png) top no-repeat;
							  }
						  }
						  &.twitter
						  {
							  background: url(../images/menu_ico_tweet.png) bottom no-repeat;
							   width:33px;
						  	   height:33px;
							  transition: 0.5s all;
							  &:hover
							  {
								   background: url(../images/menu_ico_tweet.png) top no-repeat;
							  }
						  }
					  }
				}
		}
}

.nav-mobile  {
	display: none;	
	height: auto;
	background: none;
	ul {
		font-size: 0.875em;
		li {
			overflow: hidden;
			float: left;
			display: inline-block;
			width: 20%;
			text-align: center;
			
			a {
				display: block;
				padding: 40px 1.66em 7px;
				color: #fff;
				background: rgba(0,0,0,0.5);
				&:hover {
					background: transparent;
					color: #000;
				}
			}
		}
		.mob-home a {
			background: rgba(0,0,0,0.7) url(../images/nav_home.png) no-repeat  center 10px;
			&:hover {
				background:transparent url(../images/nav_home_hover.png) no-repeat  center 10px;
			}
		}
		.mob-portfolio a {
			background: rgba(0,0,0,0.7) url(../images/nav_portfolio.png) no-repeat  center 10px;
			&:hover {
				background:transparent url(../images/nav_portfolio_hover.png) no-repeat  center 10px;
			}
		}
		.mob-about a {
			background: rgba(0,0,0,0.7) url(../images/nav_about.png) no-repeat  center 10px;
			&:hover {
				background:transparent url(../images/nav_about_hover.png) no-repeat  center 10px;
			}
		}
		.mob-services a {
			background: rgba(0,0,0,0.7) url(../images/nav_services.png) no-repeat  center 10px;
			&:hover {
				background:transparent url(../images/nav_services_hover.png) no-repeat  center 10px;
			}
		}
		.mob-contact a {
			background: rgba(0,0,0,0.7) url(../images/nav_contact.png) no-repeat  center 10px;
			&:hover {
				background:transparent url(../images/nav_contact_hover.png) no-repeat  center 10px;
			}
		}
	}
}


  
/* About us START */
			.about
			{
			   width:100%;
			   overflow:hidden;
			   background: url(../images/bg-about.jpg) no-repeat center bottom #ee733a; 
			   background-size: cover;
			  -webkit-background-size: cover;
			  -moz-background-size: cover;
			  -o-background-size: cover; 
			  position: relative; 
			  h1
					{   
						text-align:center; 
						font-size:5.25em; 
						 margin: 3% 0 2% 0; 
						color:#fff; 
						font-family: 'MyriadProLight';
					}
		   .line
				 	{
						  height: 1px;
						  background-color: rgba(88,88,88,0.1);
						  clear: both;
							
					}
			} 
			 
			 .about-us
			{
				 
					width: 100%;
					overflow:hidden;
					margin:5% 0 100%;
					h2
					{   
						color:#fff; 
						text-align:left; 
						font-size:2.375em;
						padding:0% 0%; 
						
					}
					p
					{   
						color:#fff;
						text-align:left;
						margin:0 auto;
						font-size:1.125em;
						padding:1% 0%;	 
						font-family:"Calibri";
						line-height:24px;	
					}
			}
			.testimonial
			{
					position: relative;
					width:100%;
					margin: 5% 0 100%;
					overflow:hidden; 
					.article {
						width: 82%;
						float: left;
						background: #fff;	
						background:url(../images/test-arrow.png) top right no-repeat;
						overflow: hidden;
					}
					.article-bg {
						background: #fff;
						overflow: hidden;
						width: 96%;
					}
					.carousel-container
					{
						margin: 0 10%;
						overflow:hidden; 
						position: relative; 
						.carousel-indicators 
						   {
							  bottom: 7%;
							  left: 50%;
							li
								 {
									  display: inline-block;
									  width: 8px;
									  height: 8px;
									  margin: 0px;
									  text-indent: -999px;
									  cursor: pointer; 
									  background-color:#bfbebe;
									  border-radius: 10px; 
									  border:none;
									   &.active
									   {
										  width: 8px;
										  height: 8px;
										  margin: 0;
										  background-color: #ee733a;
										}
									  
									} 
							} 
							.carousel-width
								{
									position: relative;
									/*width: 100%;*/
									height:216px;
									/*background: #fff;*/
									overflow: hidden; 
									.carousel-content
									{
										width: 90%;
										margin: 0 auto;
										position: relative;
										.test-content
										{
											overflow:hidden;
											display:block; 
											
											article {
												color: #313030;
												text-align: left;
												font-size: 1em;
												padding: 12% 10% 0;
												background:url(../images/quote.png) 0px 33% no-repeat;
												line-height: 22px;
												font-family:"Calibri light"
											}
											p 
											{
												color: #313030;
												text-align: left;
												font-size: 1em;
												 margin: 11% 24% 0% 10%;
												line-height: 22px;
												font-family:"Calibri light"
											}
											.by-line
											{
												color: #6b6b6b;
												text-align: right; 
												font-size: 1em;
												margin: 0 6% 0 0;
												font-family: "Calibri";
											}
											.test-line
											{
													height: 1px;
													width: 91%;
													background-color: #e0e0e0;
													clear: both;
													margin: 4% 5%;
											} 
										}
										
									}
								}
								
						  }
						  .test-image
								{
									width: 96px;
									height:96px;
									position: relative;	
									margin:20% 0 0;		
									img
										{
											 border-radius: 100%;
											 width: 96px;
											 height:96px;	
											-webkit-box-shadow: 0px 5px 0px 1px rgba(0,0,0,0.1);
											-moz-box-shadow: 0px 5px 0px 1px rgba(0,0,0,0.1);
											box-shadow: 0px 5px 0px 1px rgba(0,0,0,0.1);
										} 
								}
			}
			 
/* About Us END */

/* Services START */
			.services
			{
			   width:100%; 
			   height:100%;
			   margin:0 auto;  
			   overflow:hidden;
			   background: url(../images/bg-services.jpg) no-repeat center center; 
			  -webkit-background-size: cover;
			  -moz-background-size: cover;
			  -o-background-size: cover;
			  background-size: cover;
			  position: relative;
			  h1
					{   
						text-align:center; 
						font-size:5.25em;						 
						color:#fff; 
						margin: 3% 0 2% 0;
						font-family: 'MyriadProLight';
					}
		   	.line
				 	{
						  height: 1px;
						  background-color: rgba(255,255,255,0.1);
						  clear: both;
							
					}
			 .services-content
					{
						  width: 100%;
						  overflow:hidden;
						  margin:5% 0 0; 
							.services-list
							{
							  float: left;
							  padding-top: 0px; 
							  .navbar-left
							  {
								  list-style: none;
								  float: left; 
								  li
									{
										display:block;
										text-align:left;
										font-size:18px;
										text-decoration:none;
										color:#FFF;	 
										font-family:"calibri"; 
										padding:22px 0 0 22px; 
										background:url(../images/arrowSmall.png) 0 27px no-repeat;
										transition: 0.5s all;
										-webkit-transition: 0.5s all;
										-ms-transition: 0.5s all;
										-moz-transition: 0.5s all;					
										&:hover {
											margin: 0 0 0 10px;
											color: #000;
										}
									}
							  }
							  .navbar-right
							  {
								  list-style: none;
								  float: right;
								  padding-left: 0%;
								  li
									{
										display:block;
										text-align:left;
										font-size:18px;
										text-decoration:none;
										color:#FFF;	 
										font-family:"calibri"; 
										padding:22px 0 0 22px; 
										background:url(../images/arrowSmall.png) 0 27px no-repeat;transition: 0.5s all;
										-webkit-transition: 0.5s all;
										-ms-transition: 0.5s all;
										-moz-transition: 0.5s all;					
										&:hover {
											margin: 0 0 0 10px;
											color: #000;
										}
									}
							  }

							}
							.package-slider
							{
								float: right; 
								width: 300px;
							}
					}
			 
			}
			.package-slider
			{
				 
				 float: left;
				 width:100%;
				 position:relative;
				 margin:10% 0 0;
				 .carousel-slider
				 {
					 bottom:-12%;
					 li
						 {
							   
							  width: 8px;
							  height: 8px;
							  margin: 1px;
							  background-color: none;
							  border:none;
							  border-radius: 8px;
							  background:#fff;
							  &.active
							  {
								  width: 8px;
								  height: 8px;
								  margin: 1px;
								  background-color: #050404;
							  }
						 }
				 }
				 .package1, .package2, .package3
				 {
					 margin:5% 0 0 0;
				 }
			}
			
			
			.tech-list {
				margin: 0;
				li {
					display: block;
					float: left;
					margin: -2px 0;
					padding: 0;
					cursor: pointer;
					img {
						width: 100%;
					}
				}
			}
			
			
			.service-bottom
			{
				float: left;
				width: 100%;
				margin:10% auto; 
				.quality-trust
				{
				  
				  h2
					{   
						color:#fff; 
						text-align:center; 
						font-size:2.375em;
						padding:0% 0%; 
						font-family: 'MyriadProLight';						
					}
				}
				.footer-navbar
				{
					list-style:none;
					text-align:center;
					li
					{
						display: inline-block;
						text-align: center;
						.service-quality
						{
							width:150px;
							height:150px;
							cursor: pointer;
							.services-image
							{
					 
								width:108px;
								height:108px;
								border-radius: 100px;
								display: block;
								background: #fff;
								background-size: cover;
								overflow: hidden;
								padding-top:0px;
								margin: 0 auto;	
							}
						}
					}
					li:nth-child(1)
					{
						padding-left:0px;
					}
					.right-arrow1, .right-arrow2, .right-arrow3, .right-arrow4, .right-arrow5
					{
						vertical-align:top;
						margin-top:40px;
					}
					.right-arrow1
					{
						opacity:0.3;
					}
					.right-arrow2
					{
						opacity:0.4;
					}
					.right-arrow3
					{
						opacity:0.6;
					}
					.right-arrow4
					{ 
					   opacity:0.8;
					}
					p
					{
						 font-size:0.9375em;
						 text-decoration:none;
						 color:#FFF;
						 padding-top:10px;
						 font-family: 'MyriadProRegular';
					}
				}
			} 	

.quality-section {
	overflow: hidden;
	li {
		a {
			color: #fff;
			display: block; 
			padding: 160px 0 0;
			&.knowledge {
				background: url(../images/f1.png) no-repeat center top;
				background-size: auto;
				&:hover {
					background: url(../images/f1_hover.gif) no-repeat center top;
				}
			}
		}
	}
}
			
/* SERVICES END*/
/* contact Start*/
.contact
			{
			   width:100%; 
			   height:100%;
			   margin:0 auto;  
			   overflow:hidden;
			   background: url(../images/bg-contact.jpg) no-repeat center center; 
			  -webkit-background-size: cover;
			  -moz-background-size: cover;
			  -o-background-size: cover;
			  background-size: cover;
			  position: relative;
			  h1
					{   
						text-align:center; 
						font-size:5.25em;						 
						color:#4c4c4c; 
						margin: 3% 0 2% 0;
						font-family: 'MyriadProLight';
					}
		   	.line
				 	{
						  height: 1px;
						  background-color: rgba(000,000,000,0.1);
						  clear: both;
							
					}
			.contact-content
					{
						  width:100%;
						  margin:0 auto;
						  overflow:hidden;
						  margin:5% 0 0;
						  h2
							  {
								  font-family: 'MyriadProRegular';
								  font-size:2.25em;		
								  color:#1e1e1e;
								  text-align:left;
								  								  
							  }
					 	  p   
						      {
								  font-size:1.125em;
								  color:#313131;	 
								  font-family:"calibri";
								  line-height:30px;							  
						      }
					    .contact-address
							  {  
							      padding:0px 0 0 13%;
								  margin:5% 0 0;
								  text-align:left;
								  background:url(../images/contact-icon.png) no-repeat top left; 
							  }
						.e-mail
							  {
								  padding:0px 0 0 13%;
								  margin:5% 0 0;
								  text-align:left;
								  background:url(../images/mail-icon.png) no-repeat top left; 
								  a
									  {
										  font-size:1.125em;
										  color:#313131; 
										  text-decoration:none;
										  font-family:"calibri";
									  }
								  
							  }
						.ph-no
							  {
								  padding:0% 0 0 13%;
								  text-align:left;
								  margin:5% 0 0;
								  background:url(../images/phno-icon.png) no-repeat top left; 
							  }
						.social-link
							  {
								   
								   padding:0;
								   margin:5% 0% 0 0; 
								  li
									  {
											display: inline-block;
											margin: 3%;
  											text-align: left; 
											a
											{
												width:70px;
												height:70px; 
												display:block;
												&.fb
												{
													background:url(../images/fb_contact.png) top no-repeat;
													 width:70px;
													 height:70px; 
													 &:hover {
														background:url(../images/btn_fb_hover.png) top no-repeat; 
													}
												}
												&.twitter
												{
													background:url(../images/twitter-contact.png) top no-repeat;
													 width:70px;
													 height:70px; 
													 &:hover {
														background:url(../images/btn_tweet_hover.png) top no-repeat; 
													}
												}
												&.google
												{
													background:url(../images/google.png) top no-repeat;
													 width:70px;
													 height:70px; 
													 &:hover {
														background:url(../images/btn_google_hover.png) top no-repeat; 
													}
												}
											}
									  }
							  }
							
						 
						  
					}
			
				.contact-line
					{
						  height: 1px;
						  position:relative;
						  background-color: rgba(000,000,000,0.1);
						  clear: both;
						  margin:0% 0 8%;
					}
					
					
.contact-enquiry
  {
	  overflow: hidden;
	  width: 100%;
	  position: relative;
	  background-color: #b4b4b4;  
	  .contact-app
		  {
			  width:156px;
			  height:32px;
			  position:relative;
			  text-align:center;
			  margin: 7px auto;
			  padding:0;
			  z-index:2;
			  a
				{ 
					color:#454545;
					 width:156px;
					 padding: 8px 13px;
					 border: 1px solid #454545;
					text-align:center;			  
					text-transform:uppercase; 
					text-decoration:none;
					display:block;
					font-size:14px;
					transition:1s all;
					-moz-transition:1s all;
					-ms-transition:1s all;
					-webkit-transition:1s all;
					&:after
					  {
						  width: 0%;
						  height: 100%;
						  top: 0;
						  left: 0;
						  background: #454545;
						  color: #fff;
					  }
					  &:after
						 {
						  content: '';
						  position: absolute;
						  z-index: -1;
						  -webkit-transition: all 0.3s;
						  -moz-transition: all 0.3s;
						  transition: all 0.3s;
						   }
					  
					  &:hover,
					  &:active 
					  {
						  color: #fff;
					  }
					  
					  &:hover:after,
					  &:active:after
					  {
						  width: 100%; 
					  }
				}
		  }
    .contact-form
	     {
			  margin: 1% auto 4%;
			  width: 100%;
			  height: auto;
			  display:none;
			  overflow:hidden; 
			  .contact-area
			  { 		  
				position:relative;
				overflow:hidden;
				.input-container
					{
						position: relative;
						width: 30%;
						height: 30px;
						display: block;
						float: left;
						margin: 2% 1%;
						z-index: 15; 
						.input-field
						  {
							background: none;
							border: 0;
							border-bottom: 1px solid #454545;
							height: 30px;
							color: #fff;
							width: 100%;
							font-size: 1em;
							border-radius: 0; 
							&.textarea-field
							{
									height: 95px;
									width: 100%;
						   }
						  
						  &:focus
							  {
								  background: rgba(76, 76, 76, 0.3) none repeat scroll 0 0;
								  outline: medium none;
							  } 
						  }
						  .focused-border
								 {
								   background: #fff none repeat scroll 0 0;
								  bottom: 0;
								  height: 3px;
								  left: 0;
								  position: absolute;
								  width: 0;
								}
						.input-label 
						  {
							position: absolute;
							left: 0;
							transition: top 0.5s;
							-webkit-transition: top 0.5s;
							font-size: 1.4em;
							top: 5px;
							  font-size: 15px;
							   color:#454545;
							   &.focused 
									   {
										  top: -22px;
										  transition: top 0.5s ease 0s;
									  }
								&.textarea-label
								{
									position: absolute;
									left: 0;
									transition: top 0.5s;
									-webkit-transition: top 0.5s; 
									top: 0px;
									&.focused 
											 {
												  top: -30px;
												  transition: top 0.5s ease 0s;
											  }
								  } 
								.textarea-label
							   {
									position: absolute;
									left: 0;
									transition: top 0.5s;
									-webkit-transition: top 0.5s;
									font-size: 1.4em;
									top: 170px;
									
							   }
								
						   }
					  }
					  .textarea-container
					  {
						  width: 94%;
						  height: 95px;
						  margin-top: 40px;
						  margin-bottom: 40px;
						  z-index: 9;
						  position: relative;
						  textarea
						  {
							  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
							  font-size: 15px;
							  color:#fff;
							  
							}
						  
						} 
						   
					  .sucess-msg 
					  {
					  display: none;
					  }
					  .error-msg 
					  {
					  color: #ea4c20;
					  display: none;
					  text-align: center;
					  padding: 15px;
					  } 
			    }
				.contact-ours
				{				
					width: 200px;
					display: block; 
					margin:0 auto;
					
					.send-btn, .cancel-btn
						{
							width: 73px;
							height:30px; 
							position: relative;
							float:left;
							margin: 0 0 0 5%;
							z-index: 2; 
							padding:0;
							   a
							  {
								   display:inline-block;
									width: 73px;
									height:30px;
									color:#454545;
									line-height:30px;
									text-align:center;			  
									text-transform:uppercase; 
									text-decoration:none; 
									transition:1s all;
									-moz-transition:1s all;
									-ms-transition:1s all;
									-webkit-transition:1s all;	 
									font-size:12px; 
									border: 1px solid #454545;
									&:after
										{
											width: 0%;
											height: 100%;
											top: 0;
											left: 0;
											background:#454545;
											content: '';
											position: absolute;
											z-index: -1;
											-webkit-transition: all 0.3s;
											-moz-transition: all 0.3s;
											transition: all 0.3s; 
										} 
										&:hover,
										&:active 
										{
											color: #fff;
										}
										
										&:hover:after,
										&:active:after
										{
											width: 100%; 
										}
							  }
					  
						}
				}
			 
		 }
    } 
			}
			
footer
{
	 width:100%; 
	 height:40px;
	 margin:0 auto;  
	 overflow:hidden;
	 /*background:#000;*/
	 p
	 {
		 color:#656565;
		 font-size:0.875em;
		 text-align:center;
		 line-height:40px;
	 }
}

.mobile-contact {
	display: none;
}
.mobile-map {
	display: none;
}
.click-map {
	display: none;
}

@media only screen and (min-width:769px) and (max-width: 1024px)
{ 
    
/* About us START 1024 */
			.about
			{
			   width:100%;
			   overflow:hidden;
			   background: url(../images/bg-about.jpg) no-repeat center bottom #ee733a; 
			   background-size: contain;
			  -webkit-background-size: contain;
			  -moz-background-size: contain;
			  -o-background-size: contain;  
			  h1
					{   
						text-align:center; 
						font-size:4em; 
						 margin: 3% 0 2% 0; 
						color:#fff; 
						font-family: 'MyriadProLight';
					}
		   .line
				 	{
						  height: 1px;
						  background-color: rgba(88,88,88,0.1);
						  clear: both;
							
					}
			} 
			 
			 .about-us
			{
				 
					width: 100%;
					overflow:hidden;
					margin:5% 0 100%;
					h2
					{   
						color:#fff; 
						text-align:left; 
						font-size:2.375em;
						padding:0% 0%; 
						
					}
					p
					{   
						color:#fff;
						text-align:left;
						margin:0 auto;
						font-size:1.125em;
						padding:1% 0%;	 
						font-family:"Calibri";
						line-height:24px;	
					}
			}
			.testimonial
			{
					position: relative;
					width:100%;
					margin: 10% 0 100%;
					overflow:hidden; 
					.carousel-container
					{
						overflow:hidden;
						position: relative;
						.carousel-indicators 
						   {
							  bottom: 4%;
							  left: 50%;
							li
								 {
									  display: inline-block;
									  width: 6px;
									  height: 6px;
									  margin: 0px;
									  text-indent: -999px;
									  cursor: pointer; 
									  background-color:#bfbebe;
									  border-radius: 10px; 
									  border:none;
									   &.active
									   {
										  width: 6px;
										  height: 6px;
										  margin: 0;
										  background-color: #ee733a;
										}
									  
									} 
							} 
							.carousel-width
								{
									position: relative;
									width: 96%;
									height:174px;
									background: #fff;
									overflow: hidden; 
									.carousel-content
									{
										width: 100%;
										position: relative;
										.test-content
										{
											overflow:hidden;
											display:block;
											p 
											{
												color: #313030;
												text-align: left;
												font-size: 1em;
												margin: 10% 18% 0% 11%;
												line-height: 18px;
												font-family:"Calibri light"
											}
											.by-line
											{
												color: #6b6b6b;
												text-align: right; 
												font-size: 1em;
												margin: 0 6% 0 0;
												font-family: "Calibri";
											}
											.test-line
											{
													height: 1px;
													width: 90%;
													background-color: #e0e0e0;
													clear: both;
													margin: 2% 4%;
											} 
										}
										
									}
								}
								
						  }
						  .test-image
								{
									width: 81px;
									height:81px;
									position: relative;	
									margin:19% 0 0;		
									img
										{
											 border-radius: 100%;
											width: 81px;
											 height:81px;	
											-webkit-box-shadow: 0px 5px 0px 1px rgba(0,0,0,0.1);
											-moz-box-shadow: 0px 5px 0px 1px rgba(0,0,0,0.1);
											box-shadow: 0px 5px 0px 1px rgba(0,0,0,0.1);
										} 
								}
			}
			 
/* About Us END */
 
 
 
 /* Services START 1024 */
			.services
			{
			   width:100%; 
			   height:100%;
			   margin:0 auto;  
			   overflow:hidden;
			   background: url(../images/bg-services.jpg) no-repeat center center; 
			  -webkit-background-size: cover;
			  -moz-background-size: cover;
			  -o-background-size: cover;
			  background-size: cover;
			  h1
					{   
						text-align:center; 
						font-size:4em;						 
						color:#fff; 
						margin: 3% 0 2% 0;
						font-family: 'MyriadProLight';
					}
		   	.line
				 	{
						  height: 1px;
						  background-color: rgba(255,255,255,0.1);
						  clear: both;
							
					}
			 .services-content
					{
						  width: 101%;
						  overflow:hidden;
						  margin:5% 0 0; 
							.services-list
							{
							  float: left;
							  padding-top: 0px; 
							  .navbar-left
							  {
								  list-style: none;
								  float: left; 
								  li
									{
										display:block;
										text-align:left;
										font-size:1.125em;
										text-decoration:none;
										color:#fff;	 
										font-family:"calibri"; 
										padding:22px 0 0 22px; 
										background:url(../images/arrowSmall.png) 0 27px no-repeat;
										transition: 0.5s all;
										-webkit-transition: 0.5s all;
										-ms-transition: 0.5s all;
										-moz-transition: 0.5s all;					
										&:hover {
											margin: 0 0 0 10px;
											color: #000;
										}
									}
							  }
							  .navbar-right
							  {
								  list-style: none;
								  float: right;
								  padding-left: 0%;
								  li
									{
										display:block;
										text-align:left;
										font-size:18px;
										text-decoration:none;
										color:#FFF;	 
										font-family:"calibri"; 
										padding:22px 0 0 22px; 
										background:url(../images/arrowSmall.png) 0 27px no-repeat;
									}
							  }

							}
							.package-slider
							{
								float: right; 
								width: 300px;
							}
					}
			 
			}
			.package-slider
			{
				 
				 float: left;
				 width:100%;
				 position:relative;
				 margin:10% 0 0;
				 .carousel-slider
				 {
					 bottom:-12%;
					 li
						 {
							   
							  width: 8px;
							  height: 8px;
							  margin: 1px;
							  background-color: none;
							  border:none;
							  border-radius: 8px;
							  background:#fff;
							  &.active
							  {
								  width: 8px;
								  height: 8px;
								  margin: 1px;
								  background-color: #050404;
							  }
						 }
				 }
				 .package1, .package2, .package3
				 {
					 margin:5% 0 0 0;
				 }
			}
			.service-bottom
			{
				float: left;
				width: 100%;
				margin:7% auto; 
				.quality-trust
				{
				  
				  h2
					{   
						color:#fff; 
						text-align:center; 
						font-size:2.375em;
						padding:0% 0%; 
						font-family: 'MyriadProLight';						
					}
				}
				.footer-navbar
				{
					list-style:none;
					text-align:center;
					li
					{
						display: inline-block;
						text-align: center;
						.service-quality
						{
							width:100%;
							height:105px;
							cursor:pointer;
							.services-image
							{
					 
								width:102px;
								height:102px;
								border-radius: 50px;
								background: #fff;
								padding-top:0px;
							}
						}
					}
					li:nth-child(1)
					{
						padding:0;
						margin:0;
					}
					.right-arrow1, .right-arrow2, .right-arrow3, .right-arrow4, .right-arrow5
					{
						vertical-align:top;
						margin:3% 0 0 0;
					}
					.right-arrow1
					{
						opacity:0.3;
					}
					.right-arrow2
					{
						opacity:0.4;
					}
					.right-arrow3
					{
						opacity:0.6;
					}
					.right-arrow4
					{ 
					   opacity:0.8;
					}
					p
					{
						 font-size:0.9375em;
						 text-decoration:none;
						 color:#FFF;
						 padding-top:10px;
						 font-family: 'MyriadProRegular';
						 &:hover
						 {
							  color:#000; 
						 }
					}
				}
			} 	
			
/* SERVICES END 1024*/
}
@media only screen and (min-width:320px) and (max-width: 768px) 
{ 
	.nav-desktop {
		display: none;
	}
	.logo
	{
	  display: none;
	}
	.nav-mobile {
		display: block;
	}
	.desktop-contact {
		display: none;
	}
	.mobile-contact {
		display: block;
	}
/* About us START 768 */
			.about
			{
			   width:100%;
			   padding: 11% 0 0;
			   overflow:hidden;
			   background: url(../images/bg-about.jpg) no-repeat center bottom #ee733a; 
			   background-size: contain;
			  -webkit-background-size: contain;
			  -moz-background-size: contain;
			  -o-background-size: contain;  
			  h1
					{   
						text-align:center; 
						font-size:4em; 
						 margin: 7% 0 2% 0; 
						color:#fff; 
						font-family: 'MyriadProLight';
					}
		   .line
				 	{
						  height: 1px;
						  background-color: rgba(88,88,88,0.1);
						  clear: both;
							
					}
			} 
			 
			 .about-us
			{
				 
					width: 90%;
					overflow:hidden;
					margin:4% auto;
					h2
					{   
						color:#fff; 
						text-align:left; 
						font-size:2.375em;
						padding:0% 0%; 
						
					}
					p
					{   
						color:#fff;
						text-align:left;
						margin:0 auto;
						font-size:1em;
						padding:1% 0%;	 
						font-family:"Calibri";
						line-height:22px;	
					}
			}
			.testimonial
			{
					position: relative;
					  width: 90%;
  					margin: 0% auto 35%;
					overflow:hidden;
					.article {
						width: 78%;
					}
					.carousel-container
					{
						overflow:hidden;
						position: relative;
						.carousel-indicators 
						   {
							  bottom: 4%;
							  left: 50%;
							li
								 {
									  display: inline-block;
									  width: 6px;
									  height: 6px;
									  margin: 0px;
									  text-indent: -999px;
									  cursor: pointer; 
									  background-color:#bfbebe;
									  border-radius: 10px; 
									  border:none;
									   &.active
									   {
										  width: 6px;
										  height: 6px;
										  margin: 0;
										  background-color: #ee733a;
										}
									  
									} 
							} 
							.carousel-width
								{
									position: relative;
									width: 96%;
									height:174px;
									background: #fff;
									overflow: hidden; 
									.carousel-content
									{
										width: 100%;
										position: relative;
										.test-content
										{
											overflow:hidden;
											display:block; 
											article {							
												background: url(../images/quote.png) 0px 22% no-repeat;
												font-size: 0.875em;
												line-height: 16px;
											}
											p 
											{
												color: #313030;
												text-align: left;
												font-size: 0.875em;
												line-height: 16px;
												margin: 12% 10% 0% 9%;;
												font-family:"Calibri light"
											}
											.by-line
											{
												color: #6b6b6b;
												text-align: right; 
												font-size: 1em;
												margin: 0 6% 0 0;
												font-family: "Calibri";
											}
											.test-line
											{
													height: 1px;
													width: 90%;
													background-color: #e0e0e0;
													clear: both;
													margin: 4% 4%;
											} 
										}
										
									}
								}
								
						  }
						  .test-image
								{
									width: 81px;
									height:81px;
									position: relative;	
									margin:18% 0 0;		
									images
										{
											 border-radius: 100%;
											width: 81px;
											 height:81px;	
											-webkit-box-shadow: 0px 5px 0px 1px rgba(0,0,0,0.1);
											-moz-box-shadow: 0px 5px 0px 1px rgba(0,0,0,0.1);
											box-shadow: 0px 5px 0px 1px rgba(0,0,0,0.1);
										} 
								}
			}
			
			
/* Services START 480*/
			.services
			{
			   width:100%; 
			   height:100%;
			   margin:0 auto; 
			   padding: 11% 0 0; 
			   overflow:hidden;
			   background: url(../images/bg-services.jpg) no-repeat center center; 
			  -webkit-background-size: cover;
			  -moz-background-size: cover;
			  -o-background-size: cover;
			  background-size: cover;
			  h1
					{   
						text-align:center; 
						font-size:4em;						 
						color:#fff; 
						margin: 3% 0 2% 0;
						font-family: 'MyriadProLight';
					}
		   	.line
				 	{
						  height: 1px;
						  background-color: rgba(255,255,255,0.1);
						  clear: both;
							
					}
			 .services-content
					{
						  width: 90%;
						  overflow:hidden;
						  margin:0 auto; 
							.services-list
							{
							  float: left;
							  padding-top: 0px; 
							  .navbar-left
							  {
								  list-style: none;
								  float: left; 
								  li
									{
										display:block;
										text-align:left;
										font-size:18px;
										text-decoration:none;
										color:#FFF;	 
										font-family:"calibri"; 
										padding:10px 0 0 22px; 
										background:url(../images/arrowSmall.png) 0 14px no-repeat;
										transition: 0.5s all;
										-webkit-transition: 0.5s all;
										-ms-transition: 0.5s all;
										-moz-transition: 0.5s all;					
										&:hover {
											margin: 0 0 0 10px;
											color: #000;
										}
									}
							  }
							  .navbar-right
							  {
								  list-style: none;
								  float: right;
								  padding-left: 0%;
								  li
									{
										display:block;
										text-align:left;
										font-size:18px;
										text-decoration:none;
										color:#FFF;	 
										font-family:"calibri"; 
										padding:10px 0 0 22px; 
										background:url(../images/arrowSmall.png) 0 14px no-repeat;
									}
							  }

							}
							.package-slider
							{
								float: right; 
								width: 300px;
							}
					}
			 
			}
			.package-slider
			{
				 
				 float: left;
				 width:100%;
				 position:relative;
				 margin:10% 0 0;
				 display: none;
				 .carousel-slider
				 {
					 bottom:-12%;
					 li
						 {
							   
							  width: 8px;
							  height: 8px;
							  margin: 1px;
							  background-color: none;
							  border:none;
							  border-radius: 8px;
							  background:#fff;
							  &.active
							  {
								  width: 8px;
								  height: 8px;
								  margin: 1px;
								  background-color: #050404;
							  }
						 }
				 }
				 .package1, .package2, .package3
				 {
					 margin:5% 0 0 0;
				 }
			}
			.service-bottom
			{
				float: left;
				width: 100%;
				margin:10% auto; 
				.quality-trust
				{
				  
				  h2
					{   
						color:#fff; 
						text-align:center; 
						font-size:2.375em;
						padding:0 0% 8%; 
						font-family: 'MyriadProLight';						
					}
				}
				.footer-navbar
				{
					list-style:none;
					text-align:center;
					li
					{
						display: inline-block;
						text-align: center;
						.service-quality
						{
							width:100%;
							height:135px;
							cursor: pointer;
							.services-image
							{
					 
								width:81px;
								height:81px;
								padding-top:0px;
							}
						}
					}
					li:nth-child(1)
					{
						padding-left:0px;
					}
					.right-arrow1, .right-arrow2, .right-arrow3, .right-arrow4, .right-arrow5
					{
						vertical-align:top;
						margin:4% 0 0 0;
					}
					.right-arrow1
					{
						opacity:0.3;
					}
					.right-arrow2
					{
						opacity:0.4;
					}
					.right-arrow3
					{
						opacity:0.6;
					}
					.right-arrow4
					{ 
					   opacity:0.8;
					}
					p
					{
						 font-size:0.6875em;
						 text-decoration:none;
						 color:#FFF;
						 padding-top:10px;
						 font-family: 'MyriadProRegular';
						 &:hover
						 {
							  color:#000; 
						 }
					}
				}
			} 	
			
/* SERVICES END*/
	
/*Contact*/	
	.contact {
		padding: 11% 0px;
		position: relative;
		h1 {
			font-size: 4em;
		}
	}
	.contact .contact-enquiry {
		top: -330px;
		background: none;
	}
	.contact-app {
		right: -33%;
		/*a {
			color: #000 !important;
			border: 1px solid #000 !important;
			&:hover {
				color: #fff;
			}
		}*/
	}	
	.contact-content {
		position: relative;
	}
	.desktop-map {
		position: absolute;
		top: 21%;
		left: 0px;
		margin: 0;
		width: 100%;
		height: 200px;
		overflow: hidden;
	}
	.map-expand {
		visibility: hidden;
		transition: 5s all;
	}
	
	.click-map {
		width:156px;
		height:32px;
		position: absolute;
		display: block;
		text-align:center;
		margin: 7px auto;
		padding:0;
		z-index:2;
		right: 50px;
		bottom: 4%;
		a { 
			color:#000;
			width:156px;
			padding: 10px 13px 5px;
			border: 1px solid #000;
			text-align:center;			  
			text-transform:uppercase; 
			text-decoration:none;
			display:block;
			font-size:14px;
			transition:1s all;
			-moz-transition:1s all;
			-ms-transition:1s all;
			-webkit-transition:1s all;
			&:after {
				width: 0%;
				height: 100%;
				top: 0;
				left: 0;
				background: #000;
				color: #fff;
			}
			&:after {
				content: '';
				position: absolute;
				z-index: -1;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				transition: all 0.3s;
			}		
			&:hover, &:active {
				color: #fff;
			}
			&:hover:after, &:active:after {
				width: 100%; 
			}
		}
	}
	/*.map-expand {
		margin: 1% auto 4%;
		width: 100%;
		height: auto;
		display:block;
		overflow:hidden;
	}*/
	footer {
		display: none;
	}
/*Contact End*/
	.testimonial .test-image img {
		width: 70px;
		height: auto;
	}
		
}
@media only screen and (min-width:480px) and (max-width: 600px) {
	.testimonial .test-image img {
		margin: 25% 0 0;
	}
	.click-map {
		right: 2.3%;
	}
}

@media only screen and (min-width:320px) and (max-width:479px){
	.nav-mobile ul {
		width: 100%;
		overflow: hidden;
	}
	.nav-mobile ul li a {
		padding:3.375em 0.52em 7px;
	}
	.click-map {
		right: 3% !important;
	}
}

@media only screen and (min-width:640px) {
	.nav-mobile ul li a {
		padding: 54px 2.805em 7px;
	}
}
@media only screen and (min-width:768px) {
	.nav-mobile ul li a {
		padding: 54px 3.72em 7px;
	}
}
@media only screen and (min-width:320px) and (max-width: 360px)  {
	.testimonial, .service-bottom {
		display: none;
	}
	.services h1, .contact h1 {
		margin: 7% 0 2%;
	}
	.contact .contact-content p {
		line-height: 18px !important;
	}
	.contact .contact-content .ph-no, .contact .contact-content .e-mail {
		background: none !important;
	}
	.mobile-contact, .click-map {
		display: none;
	}
	.contact .contact-content {
		margin: 0;
	}
	.contact .contact-content .social-link {
		margin: 0;
	}
	.about-us p {
		line-height: 18px;
	}
}
@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/myriadpro-bold.eot');
    src: url('../fonts/myriadpro-regular.eot') format('embedded-opentype'),
         url('../fonts/myriadpro-regular.woff2') format('woff2'),
         url('../fonts/myriadpro-regular.woff') format('woff'),
         url('../fonts/myriadpro-regular.ttf') format('truetype'),
         url('../fonts/myriadpro-regular.svg#MyriadProRegular') format('svg');
}
@font-face {
    font-family: 'MyriadProBold';
    src: url('../fonts/myriadpro-bold.eot');
    src: url('../fonts/myriadpro-bold.eot') format('embedded-opentype'),
         url('../fonts/myriadpro-bold.woff2') format('woff2'),
         url('../fonts/myriadpro-bold.woff') format('woff'),
         url('../fonts/myriadpro-bold.ttf') format('truetype'),
         url('../fonts/myriadpro-bold.svg#MyriadProBold') format('svg');
}
@font-face {
    font-family: 'MyriadProLight';
    src:url('../fonts/myriadpro-light.eot');
    src: url('../fonts/myriadpro-light.eot') format('embedded-opentype'),
         url('../fonts/myriadpro-light.woff2') format('woff2'),
         url('../fonts/myriadpro-light.woff') format('woff'),
         url('../fonts/myriadpro-light.ttf') format('truetype'),
         url('../fonts/myriadpro-light.svg#MyriadProLight') format('svg');
}


@font-face {
  font-family: 'MyriadPro-SemiboldCond';
   src: url('../fonts/myriadpro-SemiboldCond.eot');
  src: url('../fonts/myriadpro-SemiboldCond.eot') format('embedded-opentype'),
         url('../fonts/myriadpro-SemiboldCond.woff') format('woff'),
         url('../fonts/myriadpro-SemiboldCond.ttf')  format('truetype'),
         url('../fonts/myriadpro-SemiboldCond.svg#MyriadPro-SemiboldCond') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TrebuchetMS';
   src: url('../fonts/TrebuchetMS.eot');
   src: url('../fonts/TrebuchetMS.eot') format('embedded-opentype'),
         url('../fonts/TrebuchetMS.woff') format('woff'),
         url('../fonts/TrebuchetMS.ttf')  format('truetype'),
         url('../fonts/TrebuchetMS.svg#TrebuchetMS') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'MyriadProLightCondensed';
    src: url('../fonts/myriadpro-lightcond.eot');
    src: url('../fonts/myriadpro-lightcond.eot') format('embedded-opentype'),
         url('../fonts/myriadpro-lightcond.woff2') format('woff2'),
         url('../fonts/myriadpro-lightcond.woff') format('woff'),
         url('../fonts/myriadpro-lightcond.ttf') format('truetype'),
         url('../fonts/myriadpro-lightcond.svg#MyriadProLightCondensed') format('svg');
}
@font-face {
    font-family: 'MyriadProCondensed';
    src: url('../fonts/myriadpro-cond.eot');
    src: url('../fonts/myriadpro-cond.eot') format('embedded-opentype'),
         url('../fonts/myriadpro-cond.woff2') format('woff2'),
         url('../fonts/myriadpro-cond.woff') format('woff'),
         url('../fonts/myriadpro-cond.ttf') format('truetype'),
         url('../fonts/myriadpro-cond.svg#MyriadProCondensed') format('svg');
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Roman';
  src: url('../fonts/HelveticaNeueLTStd-Roman.eot');
  src: url('../fonts/HelveticaNeueLTStd-Roman.eot') format('embedded-opentype'),
       url('../fonts/HelveticaNeueLTStd-Roman.woff') format('woff'),
	   url('../fonts/HelveticaNeueLTStd-Roman.ttf')  format('truetype'), 
	   url('../fonts/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}