@charset "utf-8";
/* CSS Document */
body, h1, p {
	padding: 0;
	margin: 0;
}
.map-backdrop {
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	position: absolute;
}
.portfolio {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: url(../images/bg_portfolio.jpg) no-repeat 0px 0px;
	background-size: cover;
	position: relative;
}
.portfolio h1 {
	font-size: 5.625em;
	padding: 80px 0 0;
	/*border-bottom: 1px solid rgba(0,0,0,0.2);*/
	color: #fff;
	font-weight: lighter;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
/*.tiles {
	border-bottom: 1px solid rgba(0,0,0,0.2);
}*/
.filter-menu {
	overflow: hidden;
	width: 1140px;
	height: auto;
	background: none;
	margin: 60px auto 0;
}
nav.filter-menu a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: capitalize;
	width: 125px;
	height: auto;
	text-align: center;
	font-size: 14px;
	font-family: 'MyriadProRegular';
}

nav a:hover,
nav a:focus {
	outline: none;
}


/* Effect 10: reveal, push out */
.cl-effect-10  {
	position: relative;
	z-index: 1;
}
.cl-effect-10 a {
	overflow: hidden;
	margin: 0 ;
}
.cl-effect-10 a span {
	display: block;
	padding: 8px 0px;
	background: #302a0e;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}
.cl-effect-10 a::before {
	position: absolute;
	top: 0;
	left: 0;
	padding: 8px 0px;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: #fff;
	color: #302a0e;
	content: attr(data-hover);
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(-25%);
}
.cl-effect-10 a:hover span,
.cl-effect-10 a:focus span,
.cl-effect-10 a:active span {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	transform: translateX(100%);
}
.cl-effect-10 a:hover::before,
.cl-effect-10 a:focus::before,
.cl-effect-10 a:active::before {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	transform: translateX(0%);
}
/**/
.portfolio .carousel {
	width: 1140px;
	margin: 0 auto;
}
.list-group ul {
	height: 550px;
	overflow: hidden;
	padding: 30px 0px
}
.list-group ul li {
	padding: 0px;
	margin: 0.5%
}
.col-lg-3 {
	width: 24%
}
.list-group ul li img {
	width: 100%;
	cursor: pointer;
}
.desktop-portfolio {
	display: block;
}
.mobile-portfolio {
	display: none;
}
.carousel-indicators {
	bottom: 13px;
}
.carousel-indicators li {
	border-radius: 0;
	background-color: #000;
    border: none;
}
.mob-menu-filter {
	background: url(../images/mobile_filter.png) no-repeat 0px;
	width: 26px;
	height: 26px;
}


.content-item {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  position: relative;
}
.content-item .overlay {
  border-bottom: 50px solid rgba(0,0,0,0.8);
  border-left: 50px solid transparent;
  bottom: 0px;
  height: 0;
  position: absolute;
  right: 0px;
  text-indent: -9999px;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  width: 0;
}
.content-item:hover .overlay {
  border-bottom: 800px solid rgba(0,0,0,0.8);
  border-left: 800px solid transparent;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.content-item .corner-overlay-content {
  bottom: 5px;
  color: #fff;
  font-size:12px;
  position: absolute;
  right: 5px;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.content-item:hover .corner-overlay-content {
  opacity: 0;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.content-item .overlay-content {
  bottom: 0;
  color: #fff;
  left: 0;
  opacity: 0;
  padding: 15px;
  font-size: 12px;
  line-height:15px;
  font-family: 'MyriadProRegular';
  position: absolute;
  right: 0;
  top: 0;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.content-item .overlay-content h2 {
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  font-family: 'MyriadProBold';
  padding: 0 0 12px;
  font-size: 18px;
  margin: 7px 0;
}
.content-item .overlay-content h2 span {
	font-weight: 100;
	font-family: 'MyriadProRegular';
}
.content-item:hover .overlay-content {
  opacity: 1;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.btn-view {
	display: block;
	border: 1px solid #fff;
	color: #fff;
	padding: 4px;
	width: 50px;
	font-size: 14px;
	text-align: center;
	margin: 10px auto 0;
	transition: 0.5s all;
}
.btn-view:hover {
	background: #fff;
	color: #444;
}
/*model box*/
/*.modal-dialog {
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}*/
.model-img {
	height: 780px;
}
.modal-dialog img {
	/*width: 90%;
	height: 90%;*/
	margin: auto;
	display: block;
	padding: 0 0;
	width: auto;
	max-width: 100%;
	height: 100%
}
.pop-contain {
	position: absolute;
	right: 40px;
	bottom: -50px;
	height: 200px;
	display: block;
	overflow: hidden;
	background: #fff;
}
.pop-article {
	width: 400px;
	padding: 25px 30px;
	height: auto;
	float: left;	
	background: #fff;
}
.pop-article h1 {
	font-size: 28px;
	font-family: 'MyriadProLight';
}
.pop-article h6 {
	font-size: 18px;
	font-family: 'MyriadPro-SemiboldCond';
	margin: 12px 0 18px;
}
.pop-article article {
	font-size: 14px;
	line-height: 18px;
	font-family: 'MyriadProRegular';
}
.go-link {
	width: 90px;
	height: 200px;
	float: left;
	overflow: hidden;
	background: #444444;
	display: table;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.go-link:hover {
	background: #e0b734;
}
.go-link a {
	display: table-cell;
	color: #fff;
	background: url(../images/golink.png) no-repeat center;
	text-align: center;
	padding: 45px 0 0;
	text-align: center;
	padding: 60px 0 0;
	vertical-align: middle;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.go-link a:hover {
	background: url(../images/golink_hover.png) no-repeat center;
}
.close {
	color: #fff;
	opacity: 1;
	position: absolute;
	right: 0;
	top: -10px;
}

/* Isotope */

.portfolio-warp {
	width: 1092px;
	/*width: 546px;*/
	overflow:hidden;
}

.iso_portfolio  {
	height: 530px;
	left: 0;
	transition: all .5s;
}

.iso_portfolio li {
	width: 263px;
	height: 210px;
	padding: 0 !important;
	margin: 0 10px 10px 0 !important;
}

.filter-menu { 
	margin:70px auto 0px;
}
.port-prv, .port-nxt {
	position: absolute;
	width: 33px;
	height: 60px;
	top: 57%;
	background: url(../images/por_arrow.png) no-repeat; 
}
.port-prv {
	left: 65px;
	background-position: left top;
}
.port-prv:hover {
	background-position: left bottom;
}
.port-nxt {
	right: 65px;
	background-position: right top;
}
.port-nxt:hover {
	background-position: right bottom;
}
/*Portfolio Model Box*/
.modal-dialog {
	/*width: 600px;*/
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50% , -50%) !important;
	-webkit-transform: translate(-50% , -50%) !important;
	-moz-transform: translate(-50% , -50%) !important;
	-ms-transform: translate(-50% , -50%) !important;
}

.des-menu-filter {
	display: block;
}
.mob-menu-filter {
	display: none;
}
.mob-filter {
	display: none;
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
	.list-group ul { 
		height: 550px;
		overflow: hidden;
		padding: 30px 0px
	}
	.content-item .overlay-content {
	  padding: 0 10px;
	  font-size: 14px;
	}
	.mob-menu-filter {
		display: none;
	}
	ul.filter-menu {
		display: none;
	}
	.model-img {
		height: 580px;
	}
	.port-nxt {
		right: 0;
	}
	.port-prv {
		left: 0;
	}
}
@media screen and (min-width: 1000px) and (max-width: 1366px) {
	.desktop-portfolio {
		display: block;
	}
	.mob-menu-filter {
		display: none;
	}
	ul.filter-menu {
		display: none;
	}
	.desktop-portfolio h1 {
		font-size: 5.625em;
		padding: 45px 0 0px;
		color: #fff;
		font-size: 3.75em;
	}
	.portfolio .carousel {
		width: 941px;
		margin: 0 auto;
	}
	.list-group ul { 
		height: 465px;
		overflow: hidden;
		padding: 30px 0px
	}
	.list-group ul li {
	}
	.filter-menu {
		overflow: hidden;
		width: 941px;
		margin: 30px auto 0;
	}
	.filter-menu li {
		overflow: hidden;
		width: 155px;
		font-size: 16px;
		padding: 0;
	}
	nav.filter-menu a {
		position: relative;
		display: inline-block;
		outline: none;
		color: #fff;
		text-decoration: none;
		text-transform: capitalize;
		width: 153px;
		height: auto;
		text-align: center;
		font-size: 16px;
	}
	.content-item .overlay-content {
	  padding: 0 10px;
	  font-size: 14px;
	}
	.portfolio-warp {
		width: 940px;
	}
	.iso_portfolio li {
		width: 225px;
		height: 179px;
	}
	/*.port-prv, .port-nxt {
		width: 30px;
		background-size: cover;
	}*/
	footer {
		height: 27px;
	}
}
@media screen and (min-width: 768px) and (max-width: 999px) {
	.portfolio {
		padding: 11% 0 0;
	}
	.des-menu-filter {
		display: none;
	}
	.mob-menu-filter, .mob-filter {
		display: block;
	}
	.portfolio h1 {
		color: #fff;
		font-size: 3.75em;
		margin: 0;
		padding: 0;
	}
	.portfolio .carousel {
		width: 550px;
		margin: 0 auto;
	}
	.list-group {
		margin: 0 auto;
	}
	.list-group ul {
		width: 100%; 
		height: 750px;
		overflow: hidden;
		padding: 30px 0px;;
	}
	.list-group ul li {
		padding: 15px;
		margin: 0;
		float: left;
	}
	.filter-menu {
		margin: 0px;
	}
	.closed {
		display: none;
	}
	.filter_list_button	{
		z-index:1;
		position: absolute;
		float: right;
		top: 23px;
		right: 25px
	}
	.filter-menu li {
		overflow: hidden;
		width: 100%;
		font-size: 18px;
		padding: 0;
		margin: -3px 0;
	}
	ul.filter-menu {	
		overflow: hidden;
		position:absolute;
		width: 90%;
		z-index:101;
		right: 25px;
		top: 66px;
		display:none;
	}
	.filter-menu li a {
		display: block;
		padding: 10px 0;
		background: #272009;
		text-align: center;
		color: #fff;
		text-transform: capitalize;
		text-decoration: none;
		border: none;
	}
	.filter-menu li a:hover {
		background: #fff;
		color: #444444;
	}
	.portfolio-warp {
		width: 558px;
	}
	.iso_portfolio li {
		width: 176px;
		height: auto;
	}
	/*.port-prv, .port-nxt {
		width: 30px;
		
	}*/
	.port-prv, .port-nxt {
		top: 37%;
	}
	.port-nxt {
		right: 0;
	}
	.port-prv {
		left: 0;
	}
	.overlay, .corner-overlay-content, .overlay-content {
		display: none
	}
	.pop-contain {
		display: none;
	}
	.testimonial .article {
		width: 68%;
		margin: 0px 0px 0px 10%;
	}
}

@media screen and (min-width: 480px) and (max-width: 767px) {
	.portfolio {
		padding: 11% 0 0;
	}
	/*.desktop-portfolio {
		display: none;
	}
	.mobile-portfolio {
		display: block;
		position: relative;
	}*/
	.des-menu-filter {
		display: none;
	}
	.mob-menu-filter, .mob-filter {
		display: block;
	}
	.portfolio h1 {
		color: #fff;
		font-size: 3.75em;
		margin: 0;
		padding: 20px 0 25px;
	}
	.portfolio .carousel {
		width: 90%;
		margin: 0 auto;		 
		/*height: 600px;*/
	}
	.list-group {
		margin: 0 auto;
		width: 400px;
	}
	.list-group ul {
		width: 100%; 
		height: 600px;
		overflow: hidden;
		padding: 30px 0px;;
	}
	.list-group ul li {
		
		float: left;
		padding: 15px;
		margin: 0;
	}
	.filter-menu {
		/*width: 100%;*/
		margin: 0px;
	}
	.mob-menu-filter {
		/*position: absolute;
		right: 0; 
		top: 20px;
		margin: 0 45px 0 0;*/
	}
	.closed {
		display: none;
	}
	.filter_list_button	{
		z-index:1;
		position: relative;
		float: right;
		top: -65px;
		right: 25px
	}
	.filter-menu li {
		overflow: hidden;
		width: 100%;
		font-size: 18px;
		padding: 0;
		margin: -3px 0;
	}
	ul.filter-menu {	
		overflow: hidden;
		position:absolute;
		width: 400px;
		z-index:1;
		right: 25px;
		top:105px;
		display:none;
	}
	.filter-menu li a {
		display: block;
		padding: 10px 0;
		background: #272009;
		text-align: center;
		color: #fff;
		text-transform: capitalize;
		text-decoration: none;
		border: none;
	}
	.filter-menu li a:hover {
		background: #fff;
		color: #444444;
	}
	.pop-contain {
		display: none;
	}
	.portfolio-warp {
		width: 400px;
	}
	.iso_portfolio li {
		width: 190px;
		height: auto;
	}
	.port-prv, .port-nxt {
		width: 20px;
	}
	.overlay, .corner-overlay-content, .overlay-content {
		display: none
	}
	.modal-dialog {
		margin: 0;
	}
	.model-img {
		height: 580px !important;
	}
	.port-nxt {
		right: 0;
	}
	.port-prv {
		left: 0;
	}
}
@media screen and (min-width: 640px) and (max-width: 767px) {
	.portfolio-warp {
		width: 540px;
	}
	.iso_portfolio li {
		width: 170px;
		height: auto;
	}
	.port-prv, .port-nxt {
		width: 30px;
	}
	.overlay, .corner-overlay-content, .overlay-content {
		display: none
	}
	
	.click-map {
		right: 38px;
	}
	.port-nxt {
		right: 0;
	}
	.port-prv {
		left: 0;
	}
}
@media screen and (min-width: 320px) and (max-width: 479px) {
	.des-menu-filter {
		display: none;
	}
	.mob-menu-filter, .mob-filter {
		display: block;
	}
	/*.mobile-portfolio {
		display: block;
		position: relative;
	}*/
	#intro-outer {
		display: none;
	}
	.testimonial {
		display: none;
	}
	.portfolio h1 {
		color: #fff;
		font-size: 3.75em;
		margin: 20% 0 0;
		padding: 0;
	}
	/*.tiles {
		border-bottom: 1px solid #fff;
	}*/
	.list-group {
		margin: 0px auto;
		width: 262px !important;
	}
	.list-inline {
		margin: 0
	}
	.list-group ul {
		height: 390px;
		overflow: hidden;
		padding: 0px 0px;;
		border: none;
	}
	.list-group ul li {
		padding: 5px;
		margin: 0;
	}
	.filter-menu {
		margin: 0px;
	}
	.closed {
		display: none;
	}
	.filter_list_button	{
		z-index:1;
		position: relative;
		float: right;
		top: -40px;
		right: 0;
	}
	.filter-menu li {
		overflow: hidden;
		width:100%;
		font-size: 18px;
		padding: 0;
		margin: -3px 0;
	}
	ul.filter-menu {	
		overflow: hidden;
		position:absolute;
		width: 290px;
		z-index:1;
		right: 0px;
		top: 115px;
		display:none;
	}
	.filter-menu li a {
		display: block;
		padding: 10px 0;
		background: #272009;
		text-align: center;
		color: #fff;
		text-transform: capitalize;
		text-decoration: none;
		border: none;
	}
	.filter-menu li a:hover {
		background: #fff;
		color: #444444;
	}
	.carousel-indicators {
		bottom: 2px;
	}
	.pop-contain {
		display: none;
	}
	.filter-menu li a:hover {
		background: #fff;
		color: #444444;
	}
	.pop-contain {
		display: none;
	}
	.portfolio-warp {
		width: 262px;
		margin: 1px auto;
	}
	.iso_portfolio li {
		width: 121px;
		height: auto;
	}
	.port-prv, .port-nxt {
		width:20px;
		z-index: 100;
	}
	.overlay, .corner-overlay-content, .overlay-content {
		display: none
	}
	.iso_portfolio {
		height: 330px !important;
	}
	.port-nxt {
		right: 0;
	}
	.port-prv {
		left: 0;
	}
	.model-img {
		height: 400px;
	}
	.contact .contact-content .e-mail {
		margin: 0;
	}
}
@media screen and (max-width: 320px) and (orientation: landscape) {
	.home {
		padding: 60px 0 0;
	}
	#question {
		font-size: 30px;
	}
	.about {
		background: #ee733a;
	}
	.about-us {
		margin: 0 auto
	}
	.about-us h2 {
		font-size: 20px;
	}
	.about-us p {
		font-size: 10px;
		line-height: 13px;
	}
	.about h1, .services h1, .contact h1 {
		margin: 9% 0 0;
		font-size: 2em
	}
	.portfolio h1 {
		font-size: 2em
	}
	.filter_list_button {
		top: -25px;
	}
	ul.filter-menu {
		top: 85px;
		z-index: 1001;
	}
	.filter-menu li {
		font-size: 13px;
	}
	.filter-menu li a {
		padding: 5px 0;
	}
	.iso_portfolio, .list-group ul {
		height: 117px !important;
	}
	.services .services-content .services-list .navbar-left li {
		font-size: 13px;
	}
	.navbar-right {
		display: none;
	}
}
@media screen and (min-width: 568px) and (max-width: 599px) {
	.home {
		padding: 100px 0 0;
	}
	.about {
		background: #ee733a;
	}
	.about-us {
		margin: 0 auto
	}
	.about-us h2 {
		font-size: 1.375em;
	}
	.about-us p {
		font-size: 14px;
		line-height: 18px;
	}
	.about h1, .services h1, .contact h1 {
		margin: 0;
		font-size: 2em
	}
	.portfolio h1 {
		font-size: 2em;
		padding: 0;
	}
	.filter_list_button {
		top: -25px;
	}
	ul.filter-menu {
		top: 30px;
		z-index: 1001;
	}
	.filter-menu li {
		font-size: 13px;
	}
	.filter-menu li a {
		padding: 7px 0;
	}
	.portfolio-warp {
		width: 468px;
		margin: 0 auto;
	}
	.list-group ul li {
		width: 146px
	}
	.iso_portfolio, .list-group ul {
		height: 117px !important;
	}
	.testimonial {
		display: none;
	}
	.navbar-right {
		display: none;
	}
	.click-map {
		display: none;
	}
	.contact .contact-content {
		margin: 0 0 30px;
	}
	.contact .contact-content .contact-address {
		margin: 1% 0 0;
	}
}
@media screen and (min-width:600px) and (max-width: 736px) and (orientation: landscape) {
	.home {
		padding: 150px 0 0;
	}
	#intro-outer {
		display: none;
	}
	#question {
		font-size: 44px;
	}
	.portfolio h1 {
		padding: 0 !important;
		margin: 0;
	}
	.portfolio .carousel {
		margin: -5px auto 0;
	}
	.portfolio-warp {
		width: 515px;
		margin: 0 auto;
	}
	.list-group ul {
		height: 180px;
		padding: 0;
	}
	.iso_portfolio li {
		width: 93px;
	}
	.filter_list_button {
		top: -45px;
	}
	ul.filter-menu {
		top: 45px;
	}
	.filter-menu li {
		font-size: 16px;
	}
	.port-prv, .port-nxt {
		top: 45%;
	}
	.about {
		background: #ee733a;
	}
	.about h1, .services h1, .contact h1 {
		margin: 0;
		font-size: 3em
	}
	.testimonial {
		display: none;
	}
	.contact .contact-content {
		margin: 10px 0 90px;
	}
	.desktop-map {
		top: 40%;
	}
	.contact .contact-enquiry {
		display: none;
	}
	.services {
		padding: 10% 0 0;
	}
	.services .services-content .services-list .navbar-left li, .services .services-content .services-list .navbar-right li {
		font-size: 14px;
	}
	.model-img {
		height: 270px !important;
	}	
}
@media screen and (min-width:667px) and (max-width: 736px) and (orientation: landscape) {
	.portfolio-warp {
		width: 560px;
		margin: 0 auto;
	}
	.list-group ul {
		height: 200px;
		padding: 0;
	}
	.iso_portfolio li {
		width: 102px;
	}
	.filter-menu li {
		font-size: 14px;
		margin: -4px 0 0;
	}
	.click-map {
		display: none;
	}
}

@media screen and (min-width:700px) and (max-width: 736px) and (orientation: landscape) {
	.portfolio-warp {
		width: 624px !important;
		margin: 0 auto;
	}
	.list-group ul {
		height: 200px;
		padding: 0;
	}
	.iso_portfolio li {
		width: 94px;
	}
	.services .services-content .services-list .navbar-left li, .services .services-content .services-list .navbar-right li {
		font-size: 13px;
		background:url(../images/arrowSmall.png) 0 13px no-repeat;
	}
}

/* 3d filip content */
#f1_container {
	position: relative;
	width: 61px;
	height: 60px;
	z-index: 1;
	perspective: 1000px;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-ms-perspective: 1000px;
}
#f1_card {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: none;
	-o-transform-style: preserve-3d;
	transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
}
#f1_container:hover #f1_card {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(0deg);
	-ms-transform-style: none;
    -o-transform: rotateY(180deg);
}
.face {
	position: absolute;
	width: 100%;
	height: 100%;
	 /*backface-visibility: hidden;  W3C */
	-webkit-backface-visibility: hidden; /* Safari & Chrome */
	-moz-backface-visibility: hidden; /* Firefox */
	-ms-backface-visibility: hidden; /* Internet Explorer */
	-o-backface-visibility: hidden; /* Opera */
}
.face.back {
	display: block;
	transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
button.send-btn1 {
	width: 73px;
	height:30px;
	position: relative;
	float:left;
	margin: 0 0 0 5%;
	z-index: 2;
	padding:0;
	background: none;
}
.send-btn1  {
	display:inline-block;
	width: 73px;
	height:30px;
	color:#454545;
	line-height:30px;
	text-align:center;
	text-transform:uppercase;
	text-decoration:none;
	transition:1s all;
	-moz-transition:1s all;
	-ms-transition:1s all;
	-webkit-transition:1s all;
	font-size:12px;
	border: 1px solid #454545;
}
.send-btn1:after, .cancel-btn a:after {
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	background:#454545;
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.send-btn1:hover, .cancel-btn a:hover,  .send-btn1:active, .cancel-btn a:active {
	color: #fff;
}
.send-btn1:hover:after, .cancel-btn a:hover:after,  .send-btn1:active:after, .cancel-btn a:active:after {
	width: 100%;
}
