html, body
{
	width:100%;
	height:100%;
	background-color:#e9e8e8;
	color:#1b1b1b;
	font-size:19px;
	font-family: 'Arial';
} 
.container
{
	width:100%; 
	padding:0 0 228px 0;
}
 
.center
{
	text-align:center;
}
/*Login Part Start*/
.loginLogo
{ 
	width:245px;
	margin:60px auto;
}	
.loginContent
{
	width:465px;
	overflow:auto;
	margin:0 auto;
	padding:37px 0px 37px 0px;
	border-radius:20px;
	background-color:#fff;
} 
.user
{
    height:25px;
    width:238px;
    border: 1px solid #393838;
	border-radius:2px;
	margin-left: 25px; 
	background:url(../images/user.png) no-repeat 215px 6px #FFF;
}
.pass
{
    height:25px;
    width:238px;
    border: 1px solid #393838;
	border-radius:2px;
	margin-left: 35px; 
	background:url(../images/pass.png) no-repeat 218px 7px #FFF;
}
h4
{
	text-align:center;  
}
label
{
	padding-left:64px;
	text-align:left;
	font-size:14px; 
}
.username
{
	padding-top:27px; 
}
.password
{
	padding-top:22px; 
} 
.login-submit a
{
	line-height:30px;
	color:#fff; 
	display:block;
	text-decoration:none;
	text-align:center;
	width:83px;
	height:30px; 
	font-size:14px;
	margin: 24px 0px 0px 167px;
	border-radius:1px;
	background:url(../images/loginBG.jpg) repeat-x;
}
.login-submit a:hover
{ 
	width:83px;
	height:30px;
	color:#252525;  
	background:url(../images/loginBGHover.jpg) repeat-x;
}
/*  Login Part End */

/*  Index Part Start*/

.header
{
	width:100%;
	box-sizing: border-box;
	background-color:#353535; 
}
.headerContent
{
	width:1024px; 
	overflow:hidden;
	margin:0 auto;
	box-sizing: border-box;
	background-color:#353535;
	padding:5px 62px 5px 48px;
}
.indexLogo
{ 
	 float:left;
	 margin-top:3px;
}
.indexLogout
{ 
	float:right; 
	width:99px;
	height:30px;
	margin-top:20px;
}
.indexLogout a
{ 
	 
	width:99px;
	height:30px;
	float:left;
	background:url(../images/logout.png) no-repeat; 
}
.indexLogout a:hover
{ 
	 background:url(../images/logout.png) 0px -30px no-repeat; 
}
.mainContent
{
	width:864px;
	margin:0 auto 0px auto;
}
.mainTitle
{
	height:50px;
	background-color:#181717;
	margin-top: 40px;	
}
.mainTitle h3
{
	
	color:#fefefe;
	text-align:center;
	line-height:50px;
}
.contentSec
{
	overflow: auto;
	margin-top:40px;
	background-color:#fbfbfb;
	-webkit-box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.1);
} 
.contentSecTitle
{
	height:50px;
	background-color:#d3d3d3;
}
.contentSecLeft
{
	float:left;
	width:370px;
	padding-left:30px;
}
.contentSecRight
{
	float: right;
	width: 275px;
	padding-right: 30px;
	padding-bottom: 30px;
}
.contentSecTitle h3
{
	 
	color:#514e4e;
	text-align:center;
	line-height:50px;
}

.upLoadText
{
	height:26px;
    width:298px;
	float:left;
	margin-top:30px;
    border: 1px solid #cecece;
	border-radius:2px;
	background-color:#fbfbfb;	
}
.uploadImage
{
	width:30px;
	height:30px;
	float:left;
	margin:30px 0px 0px 6px;
	background:url(../images/upload.jpg) 0 0 no-repeat;
}
.uploadImage:hover
{
	 background:url(../images/upload.jpg) 0 -30px no-repeat;
}
.upLoad a
{
	line-height:30px;
	color:#fff; 
	float:left;
	display:block;
	text-decoration:none;
	text-align:center;
	width:83px;
	height:30px;
	font-size:14px;
	margin: 11px 0px 0px 0px;
	border-radius:1px;
	background:url(../images/loginBG.jpg) repeat-x;
}
.upLoad a:hover
{ 
	width:83px;
	height:30px;
	color:#252525;  
	background:url(../images/loginBGHover.jpg) repeat-x;
}
.imageView1
{
	 
	font-size:13px;
	color:#666666;
	float:left;	
	margin-top:60px;
}
.imageView2
{
	margin-top:30px;
	float:right;
	margin-right:86px;	
	font-size:12px;
	text-align:center;
} 
.section2
{
	margin-top:40px;
	background-color:#fbfbfb;
	-webkit-box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.1);
}
.subSec
{
	padding: 30px 15px 0 15px;
	overflow:auto;
}
.subSec1
{
	overflow:auto;
	margin-bottom:30px;
	border:1px solid #d7d7d7;
	position:relative;
}
.ses1
{
	width: 49px;
	height: 49px; 
	left: 0;
	top: 0;
	position: absolute;
	background-color: #e3e3e3;
	line-height: 49px;
	display: block;
	text-align: center;	
	color: #282828;	
}
.contentSec2Left
{
	float:left;
	width:370px;
	padding-left:70px;
}
.imageView3 span, .imageView4 span, .imageView1 span, .imageView2 span
{
	margin-top: 8px;
}
.imageView3
{
	margin-top: 30px;
	float: left;
	margin-left: 76px;
	font-size: 12px;
	text-align: center;
}
.imageView4
{
	font-size: 13px;
	color: #666666;
	float: right;
	margin-top: 50px;
	margin-right: 25px;
} 
.deLete
{ 
	float: left;
	width: 100px;
	height: 30px;
	margin-top: 10px;
	margin-left: 17px; 
}
.deLete a
{ 
	 
	width:100px;
	height:30px;
	float:left;
	background:url(../images/delete.jpg) no-repeat; 
}
.deLete a:hover
{ 
	 background:url(../images/delete.jpg) 0px -30px no-repeat; 
}
.addImage
{ 
	float: left;
	width: 180px;
	height: 50px;
	margin-top: 10px;
	margin-left: 30px; 
}
.addImage a
{ 
	 
	width: 180px;
	height: 50px;
	float:left;
	background:url(../images/addImage.jpg) no-repeat; 
}
.addImage a:hover
{ 
	 background:url(../images/addImage.jpg) 0px -50px no-repeat; 
}
.contentSec
{
	height:230px;
	margin-top:40px;
	background-color:#fbfbfb;
	-webkit-box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.1);
} 
textarea
{
	float:left;
	width:800px;
	height:137px;
    border: 1px solid #faf7f7;
	border-radius:2px; 
	color:#a6a5a5;
	font-size:14px;
	background-color:#faf7f7;
	-webkit-box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.1);	
}

.tickerSec
{
	overflow: auto;
	margin-top:40px;
	background-color:#fbfbfb;
	-webkit-box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.1);
} 
.tickerCon
{
	float:left; 
	padding:40px 25px; 
}
.update
{ 
	float: left;
	width: 180px;
	height: 50px;
	color:#a6a5a5;
	font-size:14px;
	margin-top:40px;
}
.update a
{ 
	 
	width: 180px;
	height: 50px;
	float:left;
	background:url(../images/update.png) no-repeat; 
}
.update a:hover
{ 
	 background:url(../images/update.png) 0px -50px no-repeat; 
}
.innerScr
{
	overflow: auto;
	margin-top:40px; 
	
} 
.innerScrP
{
	width:430px;
	overflow: auto;
	float:left; 
	background-color:#fbfbfb;
	-webkit-box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.1);
}
.innerScrS
{
	width:430px;
	overflow: auto; 
	float:right; 
	background-color:#fbfbfb;
	-webkit-box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.1);
}
.innerScrContent
{
	overflow:auto;
	padding:20px 25px 30px 25px;
}
.innerScreen
{
	width: 350px;
	height: 60px;
	background-color: #e9e8e8;
	text-align: left;
	line-height: 60px;
	margin-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
}
.innerScr h5
{
	text-align:left;
	line-height:60px;
	float:left;
	width:275px;
}
.inrEdit
{ 
	float: left;
	width: 30px;
	height: 30px;
	padding-top: 15px; 
}
.inrEdit a
{ 
	 
	float: left;
	width: 30px;
	height: 30px;
	background:url(../images/inner1.jpg) no-repeat; 
}
.inrEdit a:hover
{ 
	 background:url(../images/inner1.jpg) 0px -30px no-repeat; 
}
.inrDelete
{ 
	float: left;
	width: 30px;
	height: 30px;
	padding-top: 15px;
	padding-left: 15px;  
}
.inrDelete a
{ 
	 
	float: left;
	width: 30px;
	height: 30px; 
	line-height:30px;
	background:url(../images/inner2.jpg) no-repeat; 
}
.inrDelete a:hover
{ 
	 background:url(../images/inner2.jpg) 0px -30px no-repeat; 
}
.addScreen
{ 
	float: left;
	width: 180px;
	height: 50px;
	margin-top:30px;
	margin-left:100px;
}
.addScreen a
{ 
	 
	width: 180px;
	height: 50px;
	float:left;
	text-align:center;
	background:url(../images/addScreen.jpg) no-repeat; 
}
.addScreen a:hover
{ 
	 background:url(../images/addScreen.jpg) 0px -50px no-repeat; 
}
.innerText
{
	font-size: 14px;
	color: #e96666;
	float: left;
	margin-top: 56px;
}
/*  Index Part End*/

/*...Sub Screen Part....*/ 
.subScreenheader
{
	width: 864px;
	margin: 0 auto;
	overflow: auto;
	padding-top: 30px;
	/* padding-bottom: 30px; */
}
.subScreenContent
{
	width: 864px;
	overflow: auto;
	padding: 30px 48px 30px 48px;
	margin: 0 auto 0px auto;
	border: 1px solid #d2d1d1;
}
.back
{ 
	 
	width: 120px;
	height: 30px;
} 
.back a
{ 
	 
	width: 120px;
	height: 30px;
	float:left;
	text-align:center;
	background:url(../images/back.png) no-repeat; 
}
.back a:hover
{ 
	 background:url(../images/back.png) 0px -30px no-repeat; 
}
.linkName
{   
	width: 864px;
	margin-top:40px; 
} 
.linkLimit
{
   margin-top: 30px;
	height: 30px;
}
.linkText
{
	height:26px;
    width:298px;
	float:left; 
    border: 1px solid #828282;
	border-radius:2px;
	background-color:#efeded;	
}
.linkLimit span
{
	font-size:14px;
	color:#787575; 
	padding-left:15px;
}
.subScr1,.subScr2
{ 
	float: left;
	width: 180px;
	height: 33px;
	margin-top:30px;
	padding-right:10px;
}
.subScr1 a, .subScr2 a
{ 
	 
	width: 180px;
	height: 33px;
	float:left;
	text-align:center; 
}
.subScr1 a
{ 
	background:url(../images/subScreen1.png) no-repeat; 
}
.subScr1 a:hover
{ 
	 background:url(../images/subScreen1.png) 0px -33px no-repeat; 
}
.subScr2 a
{ 
	background:url(../images/subScreen2.png) no-repeat; 
}
.subScr2 a:hover
{ 
	 background:url(../images/subScreen2.png) 0px -33px no-repeat; 
}
.addSubScr
{ 
	float: right;
	width: 151px;
	height: 31px;
	margin-top:30px;
}
.addSubScr a
{ 
	 
	width: 151px;
	height: 31px;
	float:left;
 	background:url(../images/addSubScreen.png) no-repeat; 
}
.addSubScr a:hover
{ 
	 background:url(../images/addSubScreen.png) 0px -31px no-repeat; 
}

.temSec
{
	overflow:auto;
	background-color:#fbfbfb;
	-webkit-box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.1);
} 
.temSecContent
{
	padding: 30px;
	float: left;
}
.temSecLeft
{
	float: left;
	width: 517px;
	border-right: 1px solid #c9c9c9;
}

.temSecRight
{
	float: right;
	width: 265px;
	padding-left: 20px;
}
.imageTemplate
{ 	
	width:120px;
	height:150px;
	float:left;
	margin-right:20px;
	margin-bottom:20px;
	padding:15px;
	border:1px solid #d7d7d7;
}
.tempName
{
	color:#bab9b9;
	padding-top:10px;
	font-size:14px;
}
.imageTemplatePreview img
{
	margin:15px 0px 0px 0px;
}
.fillConSec
{
	overflow:auto;
	margin-top:40px;
	background-color:#fbfbfb;
	-webkit-box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.1);
}
.fillConText
{
	margin:30px 16px;
	border: 1px solid #d7d7d7;
	height: 339px;
	padding:33px;
} 
.fillTitle
{
  	margin-bottom: 60px;
}
.fillTitle span
{
	font-size:21px;
	color:#514e4e; 
	padding-right:15px;
	float:left;
}
.fillTitleText
{
	height:26px;
    width:298px;
	float:left; 
    border: 1px solid #828282;
	border-radius:2px;
	background-color:#fbfbfb;	
}
.fillTitle a
{ 
	width: 30px;
	height: 29px;
	float:left;
	margin-left: 3px;
	background:url(../images/close.png) no-repeat; 
}
.fillTitle a:hover
{ 
	 background:url(../images/close.png) 0px -29px no-repeat; 
}
.fillContent
{
	width:864px;  
	margin:0 auto;
}
.addMore
{
	float: left;
	width: 180px;
	height: 50px;
	margin-top: 10px;
	margin-left: 12px; 
}
.addMore a
{ 
	 
	width: 180px;
	height: 50px;
	float:left;
	background:url(../images/addMore.png) no-repeat; 
}
.addMore a:hover
{ 
	 background:url(../images/addMore.png) 0px -50px no-repeat; 
}
.preview, .save
{ 
	float: right;
	width: 260px;
	height: 60px;
	margin-top: 40px;
	margin-right: 40px;
} 
.preview a, .save a
{ 
	 
	width: 260px;
	height: 60px;
	float:left; 
}
.save a
{ 
	margin-left: -20px;
	margin-right: 60px;
	background:url(../images/save.png) no-repeat; 	 
}
.save a:hover
{ 
	 background:url(../images/save.png) 0px -60px no-repeat; 
}
.preview a
{ 
	 
	background:url(../images/preview.png) no-repeat; 	 
}

.preview a:hover
{ 
	 background:url(../images/preview.png) 0px -60px no-repeat; 
}
.innerText a
{
	color:#c05858;
	padding-left:30px;
}
.innerText a:hover
{
	color:#252525;
}
/* Transcare Sub Page Backend Inner2 */

.course-title
{
	margin:30px 0px 95px 90px;
}
.course-title-text
{
	height:16px;
    width:288px;
	float:left;
	padding:5px;
    border: 1px solid #d7d7d7;
	border-radius:2px;
	background-color:#fbfbfb;	
}
input
{
	font-size: 18px;
}
 
.course-title span
{
	font-size:21px;
	color:#514e4e; 
	padding-right:15px;
	float:left;
} 
.course-title a, .fillConText a
{
	line-height:28px;
	color:#fff; 
	float:left;
	display:block;
	text-decoration:none;
	text-align:center;
	width:83px;
	height:28px;
	font-size:14px;
	margin: 15px 15px 0px 0px;
	border-radius:1px;
	background:url(../images/loginBG.jpg) repeat-x;
}
.course-title a
{
	margin: 0px 0px 0px 15px !important;
}
.course-title a:hover, .fillConText a:hover
{ 
	width:83px;
	height:30px;
	color:#252525;  
	background:url(../images/loginBGHover.jpg) repeat-x;
} 
.course-subtitle
{
	margin-left: 15px;
	margin:30px 15px 0 15px;
	border: 1px solid #d7d7d7;
	position: relative;
	padding: 15px 70px;
	overflow: auto;
}
 
.course-subtitle span
{
	font-size:21px;
	color:#514e4e; 
	padding-right:15px;
	float:left;
	text-align:left;
} 
.course-subtitle-text
{
	height:18px;
    width:288px;
	float:left;
	margin-left: 34px;
	padding:5px;
    border: 1px solid #cecece;
	border-radius:2px;
	background-color:#fbfbfb;
} 