/* Scss Document */
/*Header*/
/*Why Champs*/
body {
  font-size: 16px;
  color: #000;
  font-family: "RobotoRegular";
  line-height: 24px; }

/*Start Index Page*/
#wrapper {
  width: 100%; }

.container {
  width: 1366px;
  margin: 0 auto; }

.home {
  overflow: hidden;
  height: 770px; }

header {
  overflow: hidden;
  background: url(../img/header_bg.png) no-repeat center 0px;
  padding: 0 50px; }

.logo {
  float: left; }

.main-nav {
  overflow: hidden;
  float: right; }
  .main-nav ul {
    overflow: hidden; }
  .main-nav li {
    float: left;
    font-family: "Action_Man";
    font-size: 25px; }
  .main-nav a {
    display: block;
    color: #fff;
    padding: 31px 47px 36px;
    background: url(../img/main_nav_li_bg.png) no-repeat center 68px; }

.banner {
  position: absolute;
  top: 0px;
  z-index: -1; }

/*Why Champs*/
.why-champs {
  overflow: hidden;
  background: #fbc93d;
  color: #3b3116;
  padding: 73px 0 0; }
  .why-champs h1 {
    text-align: center; }
  .why-champs p {
    text-align: center;
    width: 900px;
    margin: 38px auto 70px; }

#accordion {
  list-style: none;
  margin: 30px 0;
  padding: 0;
  height: 340px;
  width: 630px;
  padding: 0 0 0 330px;
  background: url(../img/index_why_aerochar.png) no-repeat 0px center;
  overflow: hidden;
  float: left; }

#accordion .panel {
  float: left;
  display: block;
  height: 340px;
  width: 44px;
  overflow: hidden;
  color: #666666;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5em;
  margin: 0 5px 0 5px; }

#accordion .green-clr.active {
  width: 400px;
  background: #73a60a;
  color: #fff; }

#accordion .blue-clr.active {
  width: 400px;
  color: #fff;
  background: #2a79be; }

#accordion .red-clr.active {
  width: 400px;
  color: #fff;
  background: #da3130; }

#accordion .white-clr.active {
  width: 400px;
  color: #000;
  background: #fff; }

.panelContent {
  padding: 15px 15px 15px 55px;
  height: 340px;
  width: 400px; }

.green, .white, .blue, .red {
  width: 50px;
  height: 340px;
  float: left;
  background: url(../img/index_why_acc1.png);
  border-right: 5px solid #fbc93d;
  cursor: pointer; }
  .green span, .white span, .blue span, .red span {
    display: block;
    height: 200px;
    text-align: center;
    width: 340px;
    text-align: center;
    color: #fff;
    -webkit-transform: translateX(-100%) rotate(-90deg) translateZ(0px);
    -moz-transform: translateX(-100%) rotate(-90deg) translateZ(0px);
    -ms-transform: translateX(-100%) rotate(-90deg) translateZ(0px);
    -o-transform: translateX(-100%) rotate(-90deg) translateZ(0px);
    transform: translateX(-100%) rotate(-90deg) translateZ(0px);
    -webkit-transform-origin: right top 0;
    -moz-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    -o-transform-origin: right top 0;
    transform-origin: right top 0; }

.white {
  background: #fff; }
  .white span {
    color: #000; }

.blue {
  background: url(../img/index_why_acc2.png); }

.red {
  background: url(../img/index_why_acc4.png); }

.last {
  border: none; }

.video {
  margin: 157px 0px 0 0;
  overflow: hidden; }

/*acadamic-program*/
.acadamic-program, .activity-programes, .testimonials, .gallery {
  overflow: hidden;
  background: #8dc8f4;
  padding: 50px 0 45px; }
  .acadamic-program h1, .activity-programes h1, .testimonials h1, .gallery h1 {
    text-align: center; }

.contain-program, .contain-activity {
  overflow: hidden;
  float: right;
  margin: 70px 0 0px; }

.programs {
  overflow: hidden; }
  .programs .pro-preschool, .programs .pro-afterschool, .programs .pro-tution {
    overflow: hidden;
    width: 306px;
    float: left;
    margin: 0 0 0 35px; }
    .programs .pro-preschool h1, .programs .pro-afterschool h1, .programs .pro-tution h1 {
      text-align: center;
      text-transform: capitalize;
      font-size: 24px;
      color: #454545;
      margin: 50px 0 25px;
      font-family: 'RobotoRegular'; }
    .programs .pro-preschool p, .programs .pro-afterschool p, .programs .pro-tution p {
      text-align: center;
      color: #7e7e7e;
      font-size: 14px; }
      .programs .pro-preschool p a, .programs .pro-afterschool p a, .programs .pro-tution p a {
        display: table;
        vertical-align: middle;
        text-transform: capitalize;
        color: #2a79be;
        width: 68px;
        padding: 4px 0;
        margin: 30px auto 60px;
        border: 1px solid #2a79be; }
        .programs .pro-preschool p a:hover, .programs .pro-afterschool p a:hover, .programs .pro-tution p a:hover {
          background: #2a79be;
          color: #fff; }

.btn-viewall {
  overflow: hidden;
  float: right; }
  .btn-viewall a {
    display: block;
    background: url(../img/btn_view.png) no-repeat 0px;
    text-indent: -9999px;
    width: 364px;
    height: 54px; }

/*Activity programs*/
.activity-programes {
  background: #d8efe9;
  color: #fff; }

.activity {
  overflow: hidden;
  margin: 0 0 80px; }
  .activity .activity-karate, .activity .activity-kungfu, .activity .activity-chess, .activity .activity-dance {
    overflow: hidden;
    float: left;
    width: 170px;
    padding: 54px 19px 18px;
    margin: 0 0 0 63px;
    background: #73a60b;
    border-radius: 5px; }
    .activity .activity-karate p, .activity .activity-kungfu p, .activity .activity-chess p, .activity .activity-dance p {
      text-align: center;
      margin: 16px 0 36px; }
    .activity .activity-karate a, .activity .activity-kungfu a, .activity .activity-chess a, .activity .activity-dance a {
      text-transform: capitalize;
      display: block;
      width: 80px;
      margin: 0 auto;
      padding: 8px 4px;
      color: #fff;
      background: #357605; }
  .activity .activity-kungfu {
    background: #2a7abf url(../img/kungfu.png) no-repeat center 0px; }
    .activity .activity-kungfu a {
      background: #24449d; }
  .activity .activity-chess {
    background: #f5b913; }
    .activity .activity-chess a {
      background: #f09309; }
  .activity .activity-dance {
    background: #ce5d92; }
    .activity .activity-dance a {
      background: #ab2865; }

.testimonials {
  background: #9ad563;
  color: #454545; }

.testimonials-tell1 {
  overflow: hidden;
  margin: 20px 0 0 230px; }
  .testimonials-tell1 figure {
    float: left; }
  .testimonials-tell1 div {
    overflow: hidden;
    padding: 30px 0 0 27px; }
    .testimonials-tell1 div h4 {
      color: #2d7cc0;
      margin: 20px 0 0; }

.gallery {
  background: #ff7e37; }

/*End Index Page*

/*Font Face*/
@font-face {
  font-family: 'Action_Man';
  src: url("../fonts/action/Action_Man.eot");
  src: url("../fonts/action/Action_Man.eot") format("embedded-opentype"), url("../fonts/action/Action_Man.woff2") format("woff2"), url("../fonts/action/Action_Man.woff") format("woff"), url("../fonts/action/Action_Man.ttf") format("truetype"), url("../fonts/action/Action_Man.svg#Action_Man") format("svg"); }
@font-face {
  font-family: 'RobotoRegular';
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff2") format("woff2"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular/RobotoRegular.svg#RobotoRegular") format("svg"); }

/*# sourceMappingURL=main.css.map */
