@charset "utf-8";
/* CSS Document */
body {
	font-size: 24px;
	line-height: 39px;
	color: #fff;
	overflow: hidden;
	font-family: 'ufonts_com_gillsansmtprobookopentype';
}

#wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.container {
	overflow: hidden;
	width: 1790px;
	margin: 0 auto;
}
header {
	overflow: hidden;
}
.dash_header {
	width: 100%;
	overflow: hidden;
	background:url(../img/header_rec.png) no-repeat center 0px;
}
.logo {
	overflow: hidden;
	float: left ;
	margin: 50px 0 0;
}
.header_right {
	overflow: hidden;
	width: 370px;
	float: right;
	margin: 20px 110px 0px 0px;  
}
.weather {
	overflow: hidden;
	background: url(../img/head_weather.png) no-repeat 0px 0px;
	font-size: 20px;
	padding: 30px 0px 0px 88px;
	margin: 0 20px 0 0;
	float: left;
}
.time {
	overflow: hidden;
	border: 1px solid #1e5372;
	border-radius: 10px;
	padding: 5px;
	background: rgba(255,255,255,0.1)
}
.time ul {
	overflow: hidden;
	float: left;
}
.time ul li {
	overflow: hidden;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.time ul li.bg_white {
	background: #FFF;
	font-size: 40px;
	color: #000;
	padding: 15px;
	border-radius: 10px;
}
.time p {
	overflow: hidden;
	font-size: 18px;
	line-height:18px;
	padding: 20px 0 0 08px;
	text-align: center;
	font-family: 'ufonts_com_gillsansmtprolightopentype';
}
.time p span {
	font-size: 16px;
}
.content {
	overflow: hidden;
	margin: 16px 0 0;
}
.banner {
	width: 630px;
	float: left;
	margin: 35px 0 0;
	background: rgba(255,255,255,0.3);
	border-radius: 600px;
}
.banner img {
	text-align: center;
	border-radius: 400px;
}
.sec_menu {
	overflow: hidden;
	width: 470px;
	height:	714px;
	float: left;
	margin: 0 70px 0 0;
}
.sec_menu ul {
	overflow: hidden;
	font-size: 25px;
	line-height: 27px;
	width: 400px;
	margin: -10px 45px;
}
.sec_menu ul li {
	overflow: hidden;
	float: left;
	height: 170px;
	margin: 10px 12px 0;
}
.sec_menu ul li a {
	width: 160px;
	height: 160px;
	border: 1px solid #fff;
	border-radius: 100px;
	text-align: center;
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;
	background: rgba(255, 255, 255, .1);
	margin: 12px 12px;
}
.sec_menu ul li a:active {
	-webkit-box-shadow: 0px 9px 0px rgba(255,255,255,0), inset 0px 9px 95px rgba(255,255,255,.35);
    -moz-box-shadow: 0px 9px 0px rgba(255,255,255,0), inset 0px 9px 95px rgba(255,255,255,.35);
    box-shadow: 0px 9px 0px rgba(255,255,255,0), inset 0px 9px 95px rgba(255,255,255,.35);
}
.sec_menu ul li a:hover {
	position: relative;
	top: 6px;
	-webkit-box-shadow: 0px 9px 0px rgba(255,255,255,0), inset 0px 9px 95px rgba(255,255,255,.35);
    -moz-box-shadow: 0px 9px 0px rgba(255,255,255,0), inset 0px 9px 95px rgba(255,255,255,.35);
    box-shadow: 0px 9px 0px rgba(255,255,255,0), inset 0px 9px 95px rgba(255,255,255,.35);
}
/*.sec_menu ul li a:nth-child(odd) {
}
.sec_menu ul li a:nth-child(even) {
}*/
.primary_menu {
	width: 570px;
	height: 708px;
	overflow: hidden; 
}
.primary_menu ul {
	overflow: hidden;
	width: 410px;
	border: 1px solid rgba(255,255,255,0.3);
	border-radius: 15px;
	background: rgba(255,255,255,0.1);
	padding: 10px 30px;
	margin: 0 40px;
}
.primary_menu ul li {
	overflow: hidden;
	height: 192px;
	float: left;
}
.primary_menu ul li:nth-child(odd) {
	margin: 19px 22px 19px 0px;
}
.primary_menu ul li:nth-child(even) {
	margin: 19px 0px 19px 23px;
}
.primary_menu ul li {
	overflow: hidden;
	height: 190px;
	float: left;
	margin: 10px 10px;
}
.primary_menu ul li a {
	overflow: hidden;
	position: relative;
	width: 178px;
	max-width: 178px;
	height: 175px;
	border-radius: 300px;
	background: #fff;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: #989797;
	font-size: 32px;
	border: 2px solid #fff;
	-webkit-box-shadow: 0px 6px 0px rgba(255,255,255,0.5), inset 0px 9px 95px rgba(141,141,141,.35), 0px 9px 6px rgba(141,141,141,.5);
    -moz-box-shadow: 0px 6px 0px rgba(255,255,255,0.5), inset 0px 9px 95px rgba(141,141,141,.35), 0px 9px 6px rgba(141,141,141,.5);
    box-shadow:0px 6px 0px rgba(255,255,255,0.5), inset 0px 9px 95px rgba(141,141,141,.35), 0px 9px 6px rgba(0,0,0,.5);
 
}
.primary_menu ul li a:active {
	color: #5d5d5d;
}
.primary_menu ul li a:hover {
	position: relative;
    top: 6px;
	-webkit-box-shadow: 0px 9px 0px rgba(255,255,255,0), inset 0px 9px 95px rgba(141,141,141,.5);
    -moz-box-shadow: 0px 9px 0px rgba(255,255,255,0), inset 0px 9px 95px rgba(141,141,141,.5);
    box-shadow: 0px 9px 0px rgba(255,255,255,0), inset 0px 9px 95px rgba(141,141,141,.5);
}
footer.foo_Home {
	overflow: hidden;
	width: 100%;
	background: url(../img/footer.png) no-repeat center 0px;
	margin: 98px 0 0;
	position: absolute;
    bottom: 0;
}
footer marquee {
	overflow: hidden;
	font-size: 24px;
	text-align: center;
	margin: 7px 0 -5px;
}


/*Inner Page-1*/
#wrapper1 {
	width: 100%;
	height: 100%;
}
header.inner_head {
	overflow: hidden;
}
.btn_back {
	overflow: hidden;
	height: 85px;
	float: left;
	margin: 33px 0 0;
}
.btn_back a {
	overflow: hidden;
	position: relative;
	width: 115px;
	height: 75px;
	border-radius: 10px;
	background: #f0f5f6 url(../img/btn_back.png) no-repeat 20px 20px;
	display: table-cell;
	padding: 0 0 0 75px;
	vertical-align: middle;
	color: #808080;
	font-size: 43px;
	-webkit-box-shadow: 0px 9px 0px rgba(146,146,146,1), 0px 9px 25px rgba(0,0,0,.3);
    -moz-box-shadow: 0px 9px 0px rgba(146,146,146,1), 0px 9px 25px rgba(0,0,0,.3);
    box-shadow: 0px 9px 0px rgba(146,146,146,1), 0px 9px 25px rgba(0,0,0,.3);
}
.btn_back a:active {
	-webkit-box-shadow: 0px 9px 0px rgba(138,203,209,00), 0px 9px 25px rgba(0,0,0,.1);
    -moz-box-shadow: 0px 9px 0px rgba(138,203,209,0), 0px 9px 25px rgba(0,0,0,.1);
    box-shadow: 0px 9px 0px rgba(138,203,209,0), 0px 9px 25px rgba(0,0,0,.1);
	position: relative;
	top: 6px;
}
header.inner_head p {
	overflow: hidden;
	float: left;
	font-family: 'ufonts_com_gillsansmtprolightopentype';
	text-transform: uppercase;
	text-align: center;
	font-size: 70px;
	line-height: 39px;
	padding: 50px 0 30px ;
	width: 1400px;
}
.logo1 {
	overflow: hidden;
	float: right;
	margin: 45px 0 0;
}

.inner_content {
	width: 1200px;
	height: 770px;
	float: left;
	overflow: hidden;
	margin: 55px 0 90px 80px;
}

.inner_content h1 {
	overflow: hidden;
	font-size: 70px;
	font-family: 'ufonts_com_gillsansmtprobookopentype';;
	font-weight: 100;
	line-height: 80px;
	margin: 0px 0px 54px;
}
.ip_content1 {
	
}


.ip_content1 p.ip_img {
	overflow: hidden;
	width:505px;
	float: left;
}
.ip_content2 {
	overflow: hidden;
	padding: 0 0 0 0px;
}
.ip_content3 {
	overflow: hidden;
	padding: 0 0 0 43px;
}
 
.ip_content2 h2 {
	overflow: hidden;
	font-size: 24px;
	font-family: 'ufonts_com_gillsansmtproboldopentype';
}
.ip_content2 ul {
	overflow: hidden;
	margin: 0 40px 15px 0;
}
.ip_content2 ul li {
	overflow: hidden;
	background: url(../img/bullet.png) no-repeat  0px 15px;
	padding: 0px 0px 0px 28px;
}
.ip_para_margin {
	overflow: hidden;
	margin: 0 40px 15px 0;
}
footer.foo_ip {
	overflow: hidden;
	width: 100%;
	margin: -95px 0 0;
	background: url(../img/foo_ip.png) repeat-x center bottom;
	position: absolute;
  	bottom: 0;
	font-size: 20px;
}
footer.foo_ip p {
	overflow: hidden;
	text-align: center;
	float: left;
}
a.foo_btn {
	display: block;
	padding: 22px 0px 0 60px;
}

#carousel {
	width:360px;
	position:relative;
	float: right;
	top: -481px;
}
#carousel img {
	visibility:hidden; /* hide images until carousel can handle them */
	cursor:pointer; /* otherwise it's not as obvious items can be clicked */
	width: 360px;
	height: 200px;
}
.well {
	display: none
}
.ip2_caurosel {
	overflow: hidden;
	width: 310px;
	background: rgba(255,255,255,0.1);
	border: 1px solid rgba(255,255,255,0.3);
	border-radius: 5px;
	padding: 10px 27px;
	font-size: 33px;
	line-height: 33px;
	 -moz-transform: scale(0.8);
   -webkit-transform: scale(0.8);
   -o-transform: scale(0.8);
   transform: scale(0.8);
}
.ip2_caurosel p {
	overflow: hidden;
	padding: 0 0 0 10px;
	width: 160px;
}
.ip2_caurosel .img_caurosel {
	overflow: hidden;
	float: left;
	width: 117px;
	height: 144px;
	padding: 0;
	margin: 0px;
}



#boxscroll, #boxscroll2, #boxscroll3 {
	overflow: hidden;
}


/*InnnerPage-5*/
.inner_content5 {
	width: 1656px;
	height: 758px;
	float: left;
	overflow: hidden;
	margin: 105px 0 100px 55px;
	padding: 0 48px 0 0;
}
.inner_content5 p.ip_img5{
	overflow: hidden;
	width: 1602px;
}
.acc_executive	
{
	width:722px;
	height: 128px;
	padding: 13px 25px 30px;
	position:relative;
	background:rgba(255,255,255,0.9);
}
.acc_content
{
	width:622px
}
.acc_content p
{
	font-size:20px;
	color:rgba(00,00,00,0.8);
	line-height:25px;
}
.acc_details
{
	list-style:none;
	margin-top:10px;
	width:735px;
	overflow: hidden;
}

.acc_details li
{
	display:inline-block;
	font-size:20px;
	float: left;
	margin: 0;
}

.acc_details li:nth-child(odd)
{
	color:#fff;
	background-color:#858585;
	padding:0px 10px;
	border-radius:15px 0px 0px 15px;	
}
.acc_details li:nth-child(even)
{
	color:#222222;
	padding: 0 18px;
}
.acc_link
{
	position: absolute;
	top: 53px;
	right: 30px;
}
.acc_executive_left
{
	float:left;
	margin-right:18px;
}
.acc_executive_left>ul>li
{
	display:block;
	border:10px solid rgba(255,255,255, 0.1);
	border-radius:10px;
	margin-bottom:15px; 
}
.acc_executive_right>ul>li
{
	display:block;
	border:10px solid rgba(255,255,255, 0.1);
	border-radius:10px;
	margin-bottom:15px; 
}
.acc_executive_right
{
	/*float:right;*/
}
.acc_executive_right_ul {
	overflow: hidden;
}
.acc_executive_right_ul li {
	float: left;
	overflow: hidden;
}

.anchor_acc_exective {
	display: block;
	margin: 0 0 15px;
	border: 10px solid rgba(255,255,255,0.2);
	border-radius: 5px;
}
.anchor_acc_exective:hover {
	-moz-transform: scale(0.98);
   -webkit-transform: scale(0.98);
   -o-transform: scale(0.98);
   transform: scale(0.98);
}
.ip3_list_odd {
	overflow: hidden;
	margin: 0 15px 0 0;
}

	
/*InnnerPage-5*/

.inner_content5 {
	width: 1656px;
	float: left;
	overflow: hidden;
	margin: 105px 0 100px 55px;
	padding: 0 48px 0 0;
}
.inner_content5 p.ip_img5{
	overflow: hidden;
	width: 1602px;
}
.ip_content5
{
	overflow: hidden;
	padding: 0px 0 75px 0px;
	margin: 0 10px 0 0;
}


	/* ....InnnerPage-6.....*/
 
.inner_contentLeft
{
	float:left;
	overflow:hidden;
	width: 1010px;
	height: 640px;
}
.inner_contentLeft p {
	margin: 0 0 20px;
}
.inner_contentRight
{
	float:right;
	overflow:hidden;
	width: 542px;
	padding:0px 52px; 
	position:relative;
	text-align:center;
}
.inner_contentRight p
{
	position: absolute;
	bottom: 50px;
	right: 0px;
	font-size: 84px;
	line-height: 62px;
	color: rgba(255,255,255,0.7);
	
}
.inner_contentRight p span
{
	 color:rgba(255,255,255,0.9);
}
.inner_image6
{
	border:9px solid #fff;
	width: 516px;
	height: 627px;
}


/*Events*/
.events {
	overflow: hidden;
	margin: 85px 80px 75px 0px;
}
.calender {
	overflow: hidden;
	width: 347px;
	text-align: center;
	border: 2px solid #fff;
	padding: 27px 1px 30px;
	line-height: 30px;
	float: left;
	margin: 0 15px 0 44px;
	  height: 240px;
}
.calender p {
	text-transform: uppercase;
	margin: 0 0 20px;
}
.calender table {
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
}
.calender table a {
	display: block;
	padding: 3px;
	border-radius: 50px;
	text-align: center;
}
a.event_date {
	border: 1px solid #fff;
}
a.event_date_confirm {
	background: #77c347;
	text-align: center;
}
.venue {
	overflow: hidden;
	width: 1656px;
	margin: 0 auto 95px;
	border-radius: 15px;
	background: rgba(255,255,255,0.1);
	border: 1px solid rgba(255,255,255,0.15)
}
.venue_details {
	overflow: hidden;	
	color: #000;
	font-size: 20px;
	line-height: 24px;
	margin: 30px;
}
.details_1, .details_2 {
	overflow: hidden;	
	float: left;
	background-color: #fff;
	padding: 25px 5px 22px 40px;
	margin: 0 21px 0 0;
	color: #000;
	  width: 755px;
}
.details_1 h1, .details_2 h1 {
	overflow: hidden;
	font-size: 40px;
	font-family: 'ufonts_com_gillsansmtprobookopentype';
	line-height: 47px;
	color: #303232;
}
.details_1 p, .details_2 p {
	color: #828987;
	  line-height: 25px;
}
.details_1 ul, .details_2 ul {
	overflow: hidden;
	font-family: 'ufonts_com_gillsansmtprobookopentype';
}
.details_1 ul li, .details_2 ul li {
	overflow: hidden;
	float: left;
	margin: 0 30px 0 0;
	padding: 0px 0 9px 38px;
}
.event_time {
	background: url(../img/bg_time.png) no-repeat 0px 5px;
	 line-height: 40px;
}
.event_place {
	background: url(../img/event_place.png) no-repeat 0px 5px;
	padding: 5px 0;
}	
.details_2 {
	margin: 0 0px 0 0;
}
#intro {
	width: 580px;
	margin: 0 auto;
}
.wrapper {
	background-color: white;
	width: 480px;
	margin: 40px auto;
	padding: 50px;
	box-shadow: 0 0 5px #999;
}
.list_carousel {
}
.list_carousel ul {
	margin: 10px 0 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel li {
	display: block;
	float: left;
}
.list_carousel.responsive {
	width: auto;
	margin-left: 0;
}
.clearfix {
	float: none;
	clear: both;
}
.prev {
	float: left;
	margin-left: 10px;
}
.next {
	float: right;
	margin-right: 10px;
}
.pager {
	float: left;
	width: 1650px;
	height: 11px;
	text-align: center;
	margin: 22px 0 0;
}
.pager a {
	margin: 0 5px;
	width: 11px;
	height: 11px;
	
}
.pager a span {
	display: inline-block;
	text-indent: -9999px;
	width: 11px;
	height: 11px;
	background: url(../img/bg_pagenation.png) no-repeat left top;
	
}
.pager a.selected span {
	background: url(../img/bg_pagenation.png) no-repeat left bottom;
}
.timer {
	background-color: #999;
	height: 6px;
	width: 0px;
}
.vertical_caurosel {
	overflow: hidden;
	/*height: 619px;*/
	padding: 0px 0px 0px 000px;
}
.vertical_caurosel li {
	overflow: hidden;
	margin: 0px 0px -12px;
}
.scr-wrapper, #scr-wrapper1, #scr-wrapper2, #pop-scr, #scr-wrapper3, #scr-wrapper4, #scr-wrapper5,  #scr-wrapper8, #pop-wrapper, #scr-wrapper11, .scr_popup  {
	overflow: hidden;
	position: absolute;
	z-index: 1;
}
.scr-wrapper, #pop-scr, {
	width:415px;
	height:630px;
}
#Temp2-scr-wrapper {
	width:1150px;
	height:570px;
	padding: 0 10px 0 0;
	margin: 0 0 0 500px;	
}
#scr-wrapper11 {
	width:1190px;
	height:570px;
	padding: 0 10px 0 0;
	margin: 0 0 0 500px;
}
#scr-wrapper1 {
	width:580px;
	height:570px;
	padding: 0 10px 0 0;
	margin: 0 0 0 500px;
}
#scr-wrapper2 {
	width: 1656px;
	height: 710px;
}
#scr-wrapper3 {
	width: 1030px;
}
#scr-wrapper3 .scroller {
	margin: 0 50px 0 0;
}
#scr-wrapper4 {
	height: 730px;
}
#scr-wrapper5 {
	width: 1655px;
	height: 625px;
	margin: 0 auto;
}
#scr-wrapper6 {
	width: 1655px;
	height: 230px
}
#scr-wrapper7 {
	width: 1656px;
	height: 410px;
	margin:0 auto;
	overflow: hidden;
}
#scr-wrapper8 {
	width: 700px;
	height: 600px;
}
#scroller1, .scroller, #scroller2 {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;	
}
.scroller5 {
	position: absolute;
}
.scroller5, .scroller6, .popVH {
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 4965px;
	height: 625px;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}	
.slide {
	width: 820px;
	float: left;
}
.slide1 {
	width: 348px;
}
.popVH {
	width: 400px;
	height: 800px;
}

#indicator, #indicator1, #indicator2 {
	position: relative;
	width: 72px;
	height: 13px;
	top: 650px;
	margin: 10px auto;
	background: url(../img/nav_pagenation.png) no-repeat 0px 0px;
}
.indi_hide {
	visibility: hidden;
}
#dotty, #dotty1, #dotty2 {
	position: absolute;
	width: 11px;
	height: 11px;
	background: url(../img/active_pagenation.png) no-repeat left bottom;
}
#indicator1, #indicator2 {
	position: static; 
}
#indicator2 {
	margin: 40px auto 70px;
}

.displayelement{
	  width: 86px;
	  float: left;
	  padding: 33px;
	  background-color: #ddd;
	  font-size: 41px;
	  line-height: 46px;
	  border-radius: 110px;
	  text-align: center;
	  margin-right: 16px;
	  text-transform: uppercase;
}

.btn_left {
	float:left;
	display:inline-block;
	height:79px;
	background:url(../images/btn_left.png) no-repeat;
}
.btn_right {
	width:75px;
	float:left;
	background:url(../images/btn_right.png) no-repeat;
	height:79px;	
}

.btn_active .btn_left {
	float:left;
	display:inline-block;
	height:79px;
	background:url(../images/a_btn_left.png) no-repeat;
}
.btn_active .btn_right {
	width:75px;
	float:left;
	background:url(../images/a_btn_right.png) no-repeat;
	height:79px;	
}
.btn_active a {
	color: #5d5d5d;
}

.footer_menu{
	margin:0 0 16px; 
	overflow: hidden;
}

#pop-wrapper{
	width: 570px;
	margin: 0 0 0 160px;
}
#classEvent, #classEvent img{
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		margin:auto;
}

/*Carousel*/
.ax-carousel
{
	position:relative;
	margin-bottom: 50px;
}

.ax-carousel .ax-title
{
	position:absolute;
	top:-2000;
	left:-2000;
	z-index:1000;
}

.ax-carousel .ax-wrapper
{
 	height: 100%;
 	width: 100%;
    position: absolute;
	cursor:url(grab.png), auto;
	
}

.ax-carousel .ax-top-wrapper
{
	height: 100%;
    top:0;
    left:0;
    perspective: 1000px;
    position: absolute;
    visibility: visible;
}

.ax-wrapper.ax-grabing
{
	cursor:url(grabbing.png), auto;
}


.ax-carousel .ax-nav-common
{
	background: url("controls.png") repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border-radius: 4px 4px 4px 4px;
    padding: 3px 5px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	z-index:999;
}

.ax-carousel .arrow-right
{
	position:absolute;
	background-position: -89px -68px;
    right: 5px;
    width: 20px;
	height: 20px;
	top:50%;
	cursor:pointer;
}

.ax-carousel .arrow-left
{
	position:absolute;
	background-position: -91px -105px;
    left: 5px;
    width: 20px;
	height: 20px;
	top:50%;
	cursor:pointer;
}

.ax-carousel .arrow-left:hover, .ax-carousel .arrow-right:hover
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

.ax-carousel .ax-controls
{
	position:absolute;
	z-index:1000;
}

.ax-carousel .ax-nav
{
    background: url("controls.png") no-repeat scroll -2px -107px transparent;
    height: 18px;
    width: 18px;
    display: inline;
    float: left;
    cursor:pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
}


.ax-carousel .ax-play
{
	background: url("pp.png") no-repeat scroll 0px -20px transparent;
    height: 20px;
    width: 20px;
        display: inline;
    float: left;
    cursor:pointer;

}

.ax-carousel .ax-pause
{
	background: url("pp.png") no-repeat scroll 0px 0px transparent;
    height: 20px;
    width: 20px;
    display: inline;
    float: left;
    cursor:pointer;

}

.ax-carousel .ax-loader
{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	background-image:url(loader.gif);
	background-position:center; 
	background-repeat:no-repeat;
	background-color:white;
	z-index:1001;
}

.ax-carousel .ax-active, .ax-carousel .ax-nav:hover
{
    background: url("controls.png") no-repeat scroll -2px -125px transparent;
    
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}


.ax-carousel .ax-disabled
{
    background-color: rgba(0, 0, 0, 0.5) !important;
    opacity: 0.2;
}

.car {
	width:500px;
	height:500px;
	overflow:hidden;
	margin:230px auto 0;
}

.box {
	width:320px;
	padding:20px;
	margin:0 auto;
}
.boxIn {
	background-color:rgba(255,255,255,.7);
	margin:10px;
	width:300px;
	height:150px;
	display:block;
	border: 2px solid rgba(255,255,255,1);
	border-radius:15px
}
.boxIn:hover{
	background-color:rgba(255,255,255,1);
}
.car img {
	border:2px solid #fff;
	height:100px;
	width:100px;
	margin:20px;
}
.boxIn p {
	  margin: -90px 0 0 140px;
	  color:#222;
	  font-size:24px;
}
.boxIn p a {
	  color:white;
}



.backdrop {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
	z-index: 23;
}
.popbox {
	position: absolute;
	display: none;
	background: #fff;
	text-align: center;
	top: 30%;
	left: 40%;
	z-index: 1000;
}
.close {
	float: right;
	margin: 0 10px 0 0;
	cursor: pointer;
}
#myModal{
	z-index:1000;
}
/*Popup*/
.reveal-modal-bg { 
	position: fixed; 
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0,0,0,.8);
	z-index: 100;
	display: none;
	top: 0;
	left: 0; 
}

.modal_box {
	top: 100px;
	left: 20%;
	color:#000;
	margin:auto;
	width: 880px;
	height: 800px;
	background: #eee;
	position: absolute;
	z-index: 101;
	padding: 30px 40px 34px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-box-shadow: 0 0 10px rgba(0,0,0,.4);
}
.modal_box .close-reveal-modal {
	position: absolute;
	top: -30px;
	right: -25px;
	color: #000;
	cursor: pointer;
} 
.popup_container, .popup_container.account_exe {
	width: 740px;
	margin: 60px auto;
}

.popup_container p {
	font-size: 24px;
	margin: 0 0 20px;
	text-align: left;
}
.popup_container p img {
	display: block;
	margin: 0 auto;
}
.popup_container h1 {
	text-align: center;
	margin: 0 0 30px;
	font-size: 40px;
	font-family: 'ufonts_com_gillsansmtprobookopentype';
} 
.popup_container.account_exe  h1{
	text-align: left;
}

.popup_text, .account_exe {
	overflow: hidden;
	height: 580px;
	border: 1px solid #dfdfdf;
	font-size: 16px;
	padding:  25px;
}
.account_exe {
	border: none;
	margin: 30px 0px 0px
}
.modal_box.img_popup {
	height: 756px;
}
.modal_box.event_popup {
	height: 485px;
}
.modal_box.img_popup p {
	font-size: 24px;
	line-height: 30px;
	text-align: left;
}
.modal_box.video_popup {
	width: 960px;
	height: 756px;
}
.popup_container.video_popup {
	width: 860px;
}
.popup_container.video_popup p {
	text-align: center;
	font-size: 24px;
}
.popup_container.video_popup iframe {
	margin: 0 auto;
	width: 850px;
	height: 500px;
}
.account_exe.contentHolder {
	overflow: hidden;
}
.event_popup .popup_text {
	height: 301px;
	overflow: hidden;
	padding: 40px 0 0px 190px;
	margin: 0 20px;
}
.event_popup .popup_text ul {
	overflow: hidden;
}
.event_popup .popup_text ul li {
	overflow: hidden;
	padding: 0px 0px 0px 35px;
}
.event_popup .popup_text ul li.event_time {
	background: url(../img/bg_time.png) no-repeat 0px 8px;
	text-align: left;
	padding: 0 0 0 40px;
}
.event_popup .popup_text ul li.event_place {
	background: url(../img/event_place.png) no-repeat 0px 6px;
	text-align: left;
	padding: 0 0 0 40px;
}	
.account_exe {
	padding: 0 0;
}
/*End Popup*/

/*update*/
.scr_calendar {
	position:absolute;
	width: 700px;
	height: 540px;
	overflow: hidden;
	padding: 0 25px;
	/*margin: 0 0 0 170px;*/
	z-index: 1;
}
.scr_calendar1 {
	position:absolute;
	width: 500px;
	height: 540px;
	overflow: hidden;
	padding: 0 10px;
	z-index: 1;
}
.scr_calendar2 {
	position:absolute;
	width: 500px;
	height: 540px;
	overflow: hidden;
	padding: 0 10px;
	z-index: 1;
	/*margin: 0 0 0 200px;*/
}
.scr-calender-inner {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;	
	//height:500px;
}
